<style>
  .toggleShowCards{
    transition: 0.5s;
    border-radius: 1rem;
    font-weight: 900 !important;
  }
  .toggleShowCards{
    cursor: pointer;
  }
  .pdfIcon{
    border-radius: 50%;
    padding: 5px;
  }
</style>

<div>
  <div class="d-flex justify-content-between align-items-center me-2 mb-2 ">
    <div class="toggleShowCards p-1" onclick="hideCards()">
      <h6 id="toggleShowCardsIcon" class="m-0"><i class="fas fa-minus"></i> Ocultar Cartera</h6>
    </div>
    <div class="d-flex gap-3 justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center gap-5 mt-1" >
        <div class=" icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg" style="cursor: pointer; position: relative;" onclick='window.location.href = "/carrito-facturas"'>
          <i class="fas fa-shopping-cart" style="font-size: 15px" title="Carrito de compra"></i>
          <div id="cartIndicator" class="badge badge-sm badge-circle badge-floating badge-primary border-white" style="position: absolute; bottom: -25%; border: solid; color: white; padding: 10px !important;"></div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center gap-5 mt-1" >
        <div class=" icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg" style="cursor: pointer; position: relative;" onclick='window.location.href = "/carrito-compras"'>
          <i class="fas fa-dollar-sign" style="font-size: 15px" title="Carrito de Facturas"></i>
          <div id="invoicesIndicator" class="badge badge-sm badge-circle badge-floating badge-primary border-white" style="position: absolute; bottom: -25%; border: solid; color: white; padding: 10px !important;"></div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center gap-5 mt-1" >
        <div id="exportPdfBtn" class=" icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg" style="cursor: pointer; position: relative; width: auto; color: white; align-items: center; padding: 4px;">
          <i class="fas fa-file-pdf" style="font-size: 15px; position: relative; top: 0px;"></i>
          PDF
        </div>
      </div>
    </div>
  </div>
  <div id="cards">
    <div style="display: flex; flex-direction: row;">
      <div class="d-flex flex-wrap gap-2 w-50 justify-content-center" id="cardsContainer">

        <div class="card w-45">
          <div class=" h-100">
            <div class="card-header pb-0 p-3">
              <div class="d-flex align-items-center">
                <i class="fas fa-tag me-2"></i>
                <h6 class="mb-0">Saldo Total</h6>
              </div>
            </div>
            <div class="card-body p-3 d-flex justify-content-center align-items-center flex-column" style="cursor: pointer" >
              <div class="text-center">
                <h4 style="color: #ffa726">$ <span id="containerSaldoTotal">0</span></h4>
              </div> 
            </div>
          </div>
        </div>

        <div class="card w-45">
          <div class=" h-100">
            <div class="card-header pb-0 p-3">
              <div class="d-flex align-items-center">
                <i class="fas fa-tag me-2"></i>
                <h6 class="mb-0">Saldo Vencido</h6>
              </div>
            </div>
            <div class="card-body p-3 d-flex justify-content-center align-items-center flex-column" style="cursor: pointer" >
              <div class="text-center">
                <h4 style="color: #ef5350">$ <span id="containerSaldoVencido">0</span></h4>
              </div> 
            </div>
          </div>
        </div>

        <div class="card w-45">
          <div class=" h-100">
            <div class="card-header pb-0 p-3">
              <div class="d-flex align-items-center">
                <i class="fas fa-tag me-2"></i>
                <h6 class="mb-0">Cupo Crédito</h6>
              </div>
            </div>
            <div class="card-body p-3 d-flex justify-content-center align-items-center flex-column" style="cursor: pointer" >
              <div class="text-center">
                <h4 style="color: #26c6da">$ <span id="containerCupoCredito">0</span></h4>
              </div> 
            </div>
          </div>
        </div>

        <div class="card w-45">
          <div class=" h-100">
            <div class="card-header pb-0 p-3">
              <div class="d-flex align-items-center">
                <i class="fas fa-tag me-2"></i>
                <h6 class="mb-0">Cupo Disponible</h6>
              </div>
            </div>
            <div class="card-body p-3 d-flex justify-content-center align-items-center flex-column" style="cursor: pointer" >
              <div class="text-center">
                <h4 style="color: #67bc6b">$ <span id="containerCupoDisponible">0</span></h4>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div  class="w-50 mx-3 card d-flex align-items-center justify-content-center">
        <div class="chart" style="width: 100%;">
          <canvas id="chart" class="chart-canvas" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>