<style>
  #error400{
    width: 97%;
    height: 100%;
    border-radius: 1rem;
    padding-top: 15px;
    position: absolute;
    z-index: 3000;
    background-color:white;
    display: none;
    text-align: center;
  }
</style>

<div id="error400">
  <div>
    <h5 class="m-0">400 | No fue posible cargar el contenido de esta página</h5>
  </div>
</div>