<style>
  .hideScroll::-webkit-scrollbar{
    width: 0; 
    background: transparent;  
  }
  .borderRadius{
    border-bottom-left-radius: 0.875rem;
    border-bottom-right-radius: 0.875rem;
  }
  .activeNav .icon {
    color: white !important;
    background-image: linear-gradient(310deg, #4861b9 0%, #302560 100%);
  }
  .activeNav i{
    color: white !important
  }
  .activeNav a{
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
</style>

<aside id="sidebarMenu" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 hideScroll"  style="z-index: 1; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%); background-color: white;" >
  <!-- Cabezera menu -->
  <li class="menuHeader nav-item pb-1 bg-gradient-primary" style="list-style-type: none; position: absolute; width: 100%; z-index: 2;">
    <a class="nav-link" style="display: flex !important; justify-content: center !important; align-items: center !important;">
      <span class="sidenav-mini-icon "> 
        <img id="imgMenuHeadSmall" src="http://app.pedbox.co/assets/logos/logo_blanco.png" class="navbar-brand-img h-100" alt="main_logo" style="max-height: inherit !important;">  
      </span>
      <span class="nav-link-text" style="height: 50px; line-height: 50px;">
        <img id="imgMenuHead" src="http://app.pedbox.co/assets/logos/logo_blanco.png" alt="" style="max-width: 100%">
        <span style="color: white; font-weight: 900; font-size: 16px; position: relative; bottom: -3px;">PedBox</span>
      </span>
    </a>
  </li>

  <!-- Menu -->
  <div class="menuBody collapse navbar-collapse  w-auto h-auto max-height-vh-100 h-100 hideScroll borderRadius" id="sidenav-collapse-main" style="overflow: visible;">
    <ul class="navbar-nav" style="margin-top: 70px;"> 

      <li class="nav-item pb-1" style="list-style-type: none;" id="imgUserMenu">
        <a class="nav-link" style="display: flex !important; justify-content: center !important; align-items: center !important;">
          <!-- <span class="sidenav-mini-icon"></span> -->
          <span class="nav-link-text text-center" style="max-width: 100%;">
            <div style="width: 90px; height: 90px; border-radius: 50%; margin: 0 auto; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 12%); margin-bottom: 5px; overflow: hidden">
              <img id="imgMenuUser" src="" alt="" style="max-width: 100%; max-height: 100%;">
            </div>
            <h6 id="menuCompanyName" style="white-space: break-spaces; font-size: 12px;"> <%- session.user.company %> </h6>
            <h6 id="menuUserName" class="mb-0 mt-1" style="white-space: break-spaces;"> <%- session.user.name %> </h6>
          </span>
        </a>
      </li>

      <%
      permissionIndex = session.user.permission.map(e => e.code).lastIndexOf("4300_CAN_ACCESS_CHAT");
      permissionIndex2 = session.user.permission.map(e => e.code).lastIndexOf("4000_CAN_ACCESS_HELPDESK");
      if ((permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") || (permissionIndex2 != -1 && session.user.permission[permissionIndex2].content != "N")) { 
      %>
        <li class="nav-item">
          <a class="nav-link"  data-bs-toggle="collapse" href="#collapseApp" >
            <span class="nav-link-text ms-1 indicatorCollapse"> <h6 class="m-0 text-xs font-weight-bolder opacity-6">APPS</h6> </span>
          </a>
          <div class="collapse show" id="collapseApp">
            <ul class="navbar-nav">
              
              <%
              permissionIndex = session.user.permission.map(e => e.code).lastIndexOf("4300_CAN_ACCESS_CHAT");
              if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuChat">
                  <a class="nav-link" href="/chat" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <div style="position: relative;">
                        <i class="fas fa-comments" style="color: #252f40; font-size: 12px"></i>
                        <div id="notificationIndicatorSidebarChat" class="badge badge-sm badge-circle badge-floating badge-primary border-white notificationCenterSectionIndicator"></div>
                      </div>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Chat</span>
                  </a>
                </li>
              <% } %>

              <%
              permissionIndex = session.user.permission.map(e => e.code).lastIndexOf("4000_CAN_ACCESS_HELPDESK");
              if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuHelpdesk">
                  <a class="nav-link" href="/helpdesk" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-people-carry" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Helpdesk</span>
                  </a>
                </li>
              <% } %>

              <%
              permissionIndex = session.user.permission.map(e => e.code).lastIndexOf("4500_CAN_ACCESS_CALENDAR");
              if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuAgenda">
                  <a class="nav-link" href="/agenda" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-calendar" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Agenda</span>
                  </a>
                </li>
              <% } %>
              <!-- <li class="nav-item">
                <a class="nav-link" href="../Generales/widgets.html" >
                  <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                    <i class="far fa-hand-pointer" style="color: #252f40; font-size: 12px"></i>
                  </div>
                  <span class="nav-link-text ms-1 font-weight-bold">Widgets</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >
                  <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                    <i class="far fa-calendar" style="color: #252f40; font-size: 12px"></i>
                  </div>
                  <span class="nav-link-text ms-1 font-weight-bold">Agenda</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >
                  <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-comment-alt" style="color: #252f40; font-size: 12px"></i>
                  </div>
                  <span class="nav-link-text ms-1 font-weight-bold">Chat</span>
                </a>
              </li> -->
            </ul>
          </div>
        </li>
      <% } %>


      <%
        permissionIndex = session.user.permission.map(e => e.code).lastIndexOf("8000_CAN_ACCESS_EXTRANET");
        if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
      %>
        <li class="nav-item" >
          <a class="nav-link"  data-bs-toggle="collapse" href="#collapseBtoB" >
            <span class="nav-link-text ms-1 font-weight-bold"> <h6 class="m-0 text-xs font-weight-bolder opacity-6">B2B</h6></span>
          </a>
          <div class="collapse show" id="collapseBtoB">
            <ul class="navbar-nav ">

              <%
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf("8045_CAN_VIEW_SHOPPING_CAR");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuCatalogo">
                  <a class="nav-link" href="/catalogo" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-boxes" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">
                      <%- (session.user.id_company == 15 || session.user.id_company == 37 ? "Catalogo de Productos" : "Consulta de Inventario") %>
                    </span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8029_VIEW_TOP_50_PRODUCTS");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuCatalogoTop">
                  <a class="nav-link" href="/catalogo/top" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-certificate" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Top 50 Productos</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8045_CAN_VIEW_SHOPPING_CAR");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuCarritoCompras">
                  <a class="nav-link" href="/carrito-compras" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-shopping-cart" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Carrito de compras</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8028_CAN_ACCESS_TO_CALIDOSOS");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuCalidosos">
                  <a class="nav-link" href="/calidosos" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-gift" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Puntos Calidosos</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8020_CAN_VIEW_ORDERS_EXTRANET");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuHistorialPedidos">
                  <a class="nav-link" href="/historial-pedidos" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-truck-moving" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Historial Pedidos</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf("8010_CAN_VIEW_DOCUMENT_HISTORY_EXTRANET");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuHistorialDocumentos">
                  <a class="nav-link" href="/historial-facturas" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="far fa-file-alt" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Historial Documentos</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8065_VIEW_ECOMMERCE");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuHistorialTransacciones">
                  <a class="nav-link" href="/historial-transacciones" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-history" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Historial transacciones</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8015_CAN_VIEW_QUOTATION_EXTRANET");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuHistorialPedidos">
                  <a class="nav-link" href="/cotizaciones" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-receipt" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Cotizaciones</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8035_CAN_VIEW_PORTFOLIO_EXTRANET");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuFacturas">
                  <a class="nav-link" href="/facturas" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-dollar-sign" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Facturas</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8005_CAN_PAY_INVOICES_EXTRANET");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuCarritoFacturas">
                  <a class="nav-link" href="/carrito-facturas" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-cart-arrow-down" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Carrito de faturas</span>
                  </a>
                </li>
              <% } %>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8025_CAN_EXPORT_CERTIFICATES_EXTRANET");
                if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
              %>
                <li class="nav-item" id="menuCertificados">
                  <a class="nav-link" href="/certificados" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-stamp" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Certificados</span>
                  </a>
                </li>
              <% } %>

              <!-- TODO: Integrar modulo -->
              <li class="nav-item" id="menuDocumentosUsuario" style="display: none;">
                <a class="nav-link" href="/documentos-usuario" >
                  <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-file" style="color: #252f40; font-size: 12px"></i>
                  </div>
                  <span class="nav-link-text ms-1 font-weight-bold">Documentos Usuario</span>
                </a>
              </li>

            </ul>
          </div>
        </li>
      <% } %>

      <% 
        permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "8030_CAN_CONFIGURE_EXTRANET");
        if (permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") { 
      %>
        <li class="nav-item" >
          <a class="nav-link"  data-bs-toggle="collapse" href="#collapseConfig" >
            <span class="nav-link-text ms-1 font-weight-bold"> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Configuración</h6> </span>
          </a>
          <div class="collapse show" id="collapseConfig">
            <ul class="navbar-nav ">
              <li class="nav-item" id="menuUsuarios">
                <a class="nav-link" href="/usuarios" >
                  <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-users-cog" style="color: #252f40; font-size: 12px"></i>
                  </div>
                  <span class="nav-link-text ms-1 font-weight-bold">Usuarios</span>
                </a>
              </li>

              <% 
                permissionIndex = session.user.permission.map(e => e.code).lastIndexOf( "5100_CAN_ACCESS_PERMISSIONS");
                if ((permissionIndex != -1 && session.user.permission[permissionIndex].content != "N") && (session.user.type_user != "E")) { 
              %>
                <li class="nav-item" id="menuPermisos">
                  <a class="nav-link" href="/permisos" >
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                      <i class="fas fa-hand-paper" style="color: #252f40; font-size: 12px"></i>
                    </div>
                    <span class="nav-link-text ms-1 font-weight-bold">Permisos</span>
                  </a>
                </li>
              <% } %>

              <li class="nav-item" id="menuRetenciones">
                <a class="nav-link" href="/retenciones" >
                  <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-file-invoice-dollar" style="color: #252f40; font-size: 12px"></i>
                  </div>
                  <span class="nav-link-text ms-1 font-weight-bold">Retenciones</span>
                </a>
              </li>

            </ul>
          </div>
        </li>
      <% } %>


    </ul>
  </div>
</aside>