<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
  <title> Agenda </title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/reports.css">

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/helpers.js"></script>

  <!-- Color Page -->
  <%- include('./partials/colors.ejs') %> 

  <style>
    .modalPersons{
      position: absolute; 
      left: 0;
      height: 60vh; 
      bottom: 0; 
      z-index: 10000; 
      display: none; 
      box-shadow: 0 20px 27px 60px rgb(0 0 0 / 5%); 
      overflow: auto;
    }  
    .imgUserContainer{
      position: relative;
      cursor: pointer;
    }
    .imgUser{
      width: 50px; 
      height: 50px; 
      border-radius: 50%; 
      overflow: hidden;
    }
    .removeUserIcon{
      position: absolute; 
      top: 60%; 
      right: -20%; 
      border: solid; 
      color: white; 
      z-index: 30;
      padding: 10px !important; 
    }
    .badField{
      border: solid 1px red;
    }
    .eventCalendar{
      font-weight: 600; 
      font-size: 11px;
      padding: 5px;
    }
    .fc-daygrid-day{
      padding: 5px !important;
    }
    .fc-scrollgrid-section-header>td, .fc-scrollgrid-section-body>td{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .bntHeader{
      cursor: pointer; 
      position: relative
    }
    .bntHeader>div{
      position: absolute; 
      bottom: -25%; 
      border: solid; 
      color: white; 
      padding: 10px !important
    }
    #tBodyReports>tr{
      font-size: 12px !important;
    }
    .fc-daygrid-event{
      white-space: inherit !important;
    }
    .selectEventState h6{
      text-decoration: underline;
      cursor: pointer;
      margin: 0;
      font-size: 12px
    }
    .selectEventState{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 3px;
      margin-bottom: 7px
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %> 

  <main class="main-content max-height-vh-100 h-100">

    <!-- Cabecera -->
    <%- include('./partials/header.ejs') %>
  
      <!-- Cotent -->
      <div class="p-4 pt-1">
        
        <div class="d-flex align-items-center">
          <div class="text-start d-flex gap-2" >
            <div id="btnModalReports" onclick='$("#modalReportes").modal("show")' class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader" title="Reporte Vendedores" data-toggle="tooltip">
              <i class="fas fa-chalkboard-teacher" style="font-size: 15px" ></i>
              <div id="cartIndicator" class="badge badge-sm badge-circle badge-floating badge-primary border-white" ></div>
            </div>

            <div id="btnModalInform" onclick='$("#modalInforme").modal("show")' class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader" title="Informes" data-toggle="tooltip">
              <i class="fas fa-chart-bar" style="font-size: 15px" ></i>
              <div id="cartIndicator" class="badge badge-sm badge-circle badge-floating badge-primary border-white"></div>
            </div>

            <div id="btnModalInform" onclick="$('#sidebarContentResume').show(), $('#sidebarResumeTitle').show(), $('#sidebarFilterTitle').hide(), $('#sidebarContentFilter').hide(), showSidebar(1)" class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader" title="Ver Resumen" data-toggle="tooltip">
              <i class="fas fa-list" style="font-size: 15px" ></i>
              <div id="cartIndicator" class="badge badge-sm badge-circle badge-floating badge-primary border-white"></div>
            </div>

            <div id="btnModalInform" onclick="$('#sidebarContentResume').hide(), $('#sidebarResumeTitle').hide(), $('#sidebarFilterTitle').show(), $('#sidebarContentFilter').show(), showSidebar(1)" class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader" title="Filtros" data-toggle="tooltip">
              <i class="fas fa-filter" style="font-size: 15px" ></i>
              <div id="cartIndicator" class="badge badge-sm badge-circle badge-floating badge-primary border-white"></div>
            </div>
          </div>

          <div class="w-100 text-end">
            <button id="createEventBtn" class="btn btn-icon btn-outline-dark ms-2" type="button">
              <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
              <span class="btn-inner--text">Agregar Evento</span>
            </button>
          </div>
        </div>


        <div class="card p-3" style="height: auto;">
          <div id="agenda"  ></div>

        </div> 
      </div>

      <!-- *** Modales -->
      <!-- Modal Proceso Flujo de trabajo-->
      <div id="createEventModal" class="modal fade" tabindex="" role="dialog" aria-hidden="true">
        <div class="modal-dialog" >
          <div class="modal-content" style="width: 50vw !important">
            <div class="modal-header">
              <h5 class="modal-title" id="titleCreateEvent">Agregar Evento</h5>
              <h5 class="modal-title" id="titleEditEvent">Editar Evento</h5>
              <div class="d-flex justify-content-center align-items-center gap-2">
                <button onclick="$('#createEventModal').modal('hide')" type="button" class="btn-close rounded-circle me-1" style="background-color: gray"></button>
              </div>
            </div>
            <div class="modal-body bg-gray-100" > 
              <div class="col-12">
                <div class="d-flex gap-3 justify-content-center">
                  <div class="form-check editEvent">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxCrm">
                    <label class="custom-control-label" for="customCheck1">Evento CRM</label>
                  </div>
                  <div class="form-check editEvent">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxDayComplete" checked>
                    <label class="custom-control-label " for="customCheck1">Evento Día Completo</label>
                  </div>
                </div>

                <label>Titulo Evento *</label>
                <input id="dataTitle" class="multisteps-form__input form-control fieldInput" type="text" placeholder="ej. Reunion" onfocus="focused(this)" onfocusout="defocused(this)">
                <label>Ubicación *</label>
                <input id="dataPlace" class="multisteps-form__input form-control fieldInput" type="text" placeholder="ej. Sala de Juntas" onfocus="focused(this)" onfocusout="defocused(this)">

                <div id="dataCrmSection" style="display: none; transition: 0.3s;">
                  <hr class="horizontal dark my-3">
                  <h6 class="text-center">Datos Evento CRM</h6>
                  <label for="">Tipo de tarea *</label>
                  <select id="dataTipoTarea" name="" class="form-control fieldInput">
                    <option value="0" selected>Seleccionar</option>
                    <option value="1">Envío de correo</option>
                    <option value="2">Llamada</option>
                    <option value="3">Visita</option>
                    <option value="4">Recordatorio</option>
                    <option value="5">Cotización</option>
                  </select>
                  <label for="">Motivo</label>
                  <select id="dataMotivo" name="" class="form-control">
                    <!-- Contenido Dinamico -->
                  </select>
                  <label for="">Vendedor *</label>
                  <select id="dataVendedor" name="" class="form-control fieldInput">
                    <!-- Contenido Dinamico -->
                  </select>

                  <hr class="horizontal dark my-3">
                </div>

                <div class="d-flex gap-1">
                  <div class="w-50 editEvent">
                    <label for="meeting-time">Fecha Inicio *</label>
                    <input id="dataDateS" type="date" class="form-control fieldInput">
                  </div>
                  <div class="w-50 editEvent">
                    <label for="meeting-time">Fecha Fin *</label>
                    <input id="dataDateE" type="date" class="form-control fieldInput">
                  </div>
                </div>

                <div class="d-flex gap-1">
                  <div class="w-50 editEvent">
                    <label for="">Notificarme</label>
                    <select id="dataNotificate" name="" class="form-control">
                      <option value="0" selected>No notificarme</option>
                      <option value="5-b">5 Minutos Antes</option>
                      <option value="10-b">10 Minutos Antes</option>
                      <option value="15-b">15 Minutos Antes</option>
                      <option value="30-b">30 Minutos Antes</option>
                      <option value="45-b">45 Minutos Antes</option>
                      <option value="60-b">60 Minutos Antes</option>
                    </select>
                  </div>
                  <div class="w-50 editEvent">
                    <label for="">Repetir</label>
                    <select id="dataRepeat" name="" class="form-control">
                      <option value="0">No Repetir</option>
                      <option value="1">Cada Día</option>
                      <option value="2">Cada Semana</option>
                    </select>
                  </div>
                </div>

                <div id="selectDaysRepeat" style="display: none;">
                  <label for="">Hasta</label>
                  <select id="dataDaysRepeat" name="" class="form-control">
                    <option value="1">1 Días</option>
                    <option value="2">2 Días</option>
                    <option value="3">3 Días</option>
                    <option value="4">4 Días</option>
                    <option value="5">5 Días</option>
                    <option value="6">6 Días</option>
                    <option value="7">7 Días</option>
                    <option value="8">8 Días</option>
                    <option value="9">9 Días</option>
                    <option value="10">10 Días</option>
                    <option value="11">11 Días</option>
                    <option value="12">12 Días</option>
                    <option value="13">13 Días</option>
                    <option value="14">15 Días</option>
                    <option value="16">16 Días</option>
                    <option value="17">17 Días</option>
                    <option value="18">18 Días</option>
                    <option value="19">19 Días</option>
                    <option value="20">20 Días</option>
                    <option value="21">21 Días</option>
                    <option value="22">22 Días</option>
                    <option value="23">23 Días</option>
                    <option value="24">24 Días</option>
                    <option value="25">25 Días</option>
                    <option value="26">26 Días</option>
                    <option value="27">27 Días</option>
                    <option value="28">28 Días</option>
                    <option value="29">29 Días</option>
                    <option value="30">30 Días</option>
                  </select>
                </div>
              
                <div id="selectWeekDays" style="display: none;">
                  <label for="">Días de la semana</label>
                  <div class="d-flex gap-1 flex-wrap justify-content-around">
                    <div class="form-check">
                      <input class="form-check-input inputDayWeek" data-day="0" type="checkbox" value="" >
                      <label class="custom-control-label" for="customCheck1">Domingo</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input inputDayWeek" data-day="1" type="checkbox" value="" >
                      <label class="custom-control-label" for="customCheck1">Lunes</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input inputDayWeek" data-day="2" type="checkbox" value="" >
                      <label class="custom-control-label" for="customCheck1">Martes</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input inputDayWeek" data-day="3" type="checkbox" value="" >
                      <label class="custom-control-label" for="customCheck1">Miércoles</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input inputDayWeek" data-day="4" type="checkbox" value="" >
                      <label class="custom-control-label" for="customCheck1">Jueves</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input inputDayWeek" data-day="5" type="checkbox" value="" >
                      <label class="custom-control-label" for="customCheck1">Viernes</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input inputDayWeek" data-day="6" type="checkbox" value="" >
                      <label class="custom-control-label" for="customCheck1">Sábado</label>
                    </div>
                  </div>
                </div>

                <div id="dateUntilContainer" style="display: none;">
                  <label for="meeting-time">Hasta</label>
                  <input id="dateUntil" type="date"  class="form-control">
                </div>

                <label for="">Notas</label>
                <textarea id="dataNote" class="form-control" placeholder="ej. Reunión con el nuevo cliente" cols="30" rows="10" style="resize: none; height: 100px;"></textarea>

                <div class="editEvent">
                  <div class="d-flex flex-column mt-2" style="justify-content: space-between;">
                    <label for="">Invitar Usuarios</label>
                    <div class="d-flex align-items-center">
                      <div onclick="openUsersModal()">
                        <i class="fas fa-user-plus ms-2" style="font-size: 30px; cursor: pointer;"></i>
                      </div>
                      <div id="selectedUsers" class="d-flex ms-4 gap-1">
                        <!-- Contenido dinamico -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="text-center mt-3">
                <button onclick="getDataNewEvent()" id="btnCreateEvent" type="button" class="btn btn-primary">Crear</button>
                <button onclick="updateEventMiddleware()" id="bntEditEvent" type="button" class="btn btn-primary" style="display: none;">Editar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal selección de usuarios -->
      <div id="thirdsWindow" class="modalPersons bg-gray-100">
        <div class="d-flex justify-content-between align-items-center p-5 pb-1">
          <h4>Añadir</h4>
          <div class="d-flex gap-4">
            <div onclick='getSelectedUsers()' style="cursor: pointer;">
              <i class="fas fa-check" style="font-size: 30px"></i>
            </div>
            <div onclick='$("#thirdsWindow").hide( "slow" )' style="cursor: pointer;">
              <i class="fas fa-times" style="font-size: 30px"></i>
            </div>
          </div>
        </div>
        <div id="thirdsWindowTable" class="p-5">
          <table id="tableThirds" class="table align-items-center mb-1 table-hover" style="table-layout: fixed;">
            <thead>
              <tr id="tableHeadThirds" >
                <th id="selectAllTable" data-state="0" width="5%" onclick="$('.chkboxUser').prop('checked', true)" class="text-left text-uppercase text-secondary font-weight-bolder opacity-7" style="cursor: pointer;">
                  <i class="fas fa-check-double" style="position: relative; right: -10px;"></i>
                </th>
                <th  class="text-left text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Usuario</th>
                <th  width="60%" class="text-left text-uppercase text-xs text-secondary font-weight-bolder opacity-7">Nombre</th>
                <th  class="text-left text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Rol</th>
              </tr> 
            </thead>  
            <tbody id="tableBodyThirds" class="mb-2">
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal selección de usuarios CRM-->
      <div id="thirdsCrmWindow" class="modalPersons bg-gray-100">
        <div class="d-flex justify-content-between align-items-center p-5 pb-1">
          <h4>Añadir tercero</h4>
          <div class="d-flex gap-4">
            <div onclick='getSelectedUsersCrm()' style="cursor: pointer;">
              <i class="fas fa-check" style="font-size: 30px"></i>
            </div>
            <div onclick='$("#thirdsCrmWindow").hide( "slow" )' style="cursor: pointer;">
              <i class="fas fa-times" style="font-size: 30px"></i>
            </div>
          </div>
        </div>
        <div id="thirdsCrmTable" class="p-5">
          <table id="tableThirdsCrm" class="table align-items-center mb-1 table-hover" style="table-layout: fixed;">
            <thead>
              <tr id="tableHeadThirdsCrm" >
                <th></th>
                <th  class="text-left text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Identificación</th>
                <th  width="60%" class="text-left text-uppercase text-xs text-secondary font-weight-bolder opacity-7">Nombre</th>
                <th  class="text-left text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tipo</th>
              </tr> 
            </thead>  
            <tbody id="tableBodyThirdsCrm" class="mb-2">
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal Detalle -->
      <div id="modalDetalle" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Detalle</h5>
              <div class="d-flex justify-content-center align-items-center gap-2">
                <button onclick="$('#modalDetalle').modal('hide')" type="button" class="btn-close rounded-circle me-1" style="background-color: gray"></button>
              </div>
            </div>
            <div class="modal-body">
              <div class="text-center mb-3">
                <h5 id="titleDetail"></h5>
              </div>
              <div class="my-1 d-flex gap-2 align-items-center"> 
                <div style="width: 20px;" class="text-center">
                  <i class="fas fa-user"></i>
                </div>
                <h6 id="detailName" class="m-0 ms-2 text-secondary"></h6>
              </div>
              <div class="my-1 d-flex gap-2 align-items-center"> 
                <div style="width: 20px" class="text-center">
                  <i class="far fa-clock"></i>
                </div>
                <h6 id="detailDate" class="m-0 ms-2 text-secondary"></h6>
              </div>
              <div class="my-1 d-flex gap-2 align-items-center"> 
                <div style="width: 20px;" class="text-center">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <h6 id="detailPlace" class="m-0 ms-2 text-secondary"></h6>
              </div>

              <div class="my-1 d-flex gap-2 align-items-center"> 
                <div style="width: 20px;" class="text-center">
                  <i class="fas fa-tag"></i>
                </div>
                <h6 id="detailType" class="m-0 ms-2 text-secondary"></h6>
              </div>

              <div class="my-1 d-flex gap-2 align-items-center"> 
                <div style="width: 20px;" class="text-center">
                  <i class="fas fa-asterisk"></i>
                </div>
                <h6 id="detailReason" class="m-0 ms-2 text-secondary"></h6>
              </div>

              <div class="my-1 d-flex gap-2 align-items-center"> 
                <div style="width: 20px;" class="text-center">
                  <i class="fas fa-info-circle"></i>
                </div>
                <h6 id="detailDetail" class="m-0 ms-2 text-secondary"></h6>
              </div>
              <div>
                <hr class="horizontal dark my-3">
                <h6>Asistirán</h6>
                <div id="confirmedContainer" class="d-flex gap-2">
                  <!-- Contenido dinamico -->
                </div>
              </div>
              <div>
                <hr class="horizontal dark my-3">
                <h6>Sin Confirmar</h6>
                <div id="unconformedContainer" class="d-flex gap-2">
                  <!-- Contenido dinamico -->
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button onclick="deleteEvent()" type="button" class="btn btn-secondary">
                Eliminar
                <i class="fas fa-trash ms-1"></i>
              </button>
              <button onclick="updateEventModal()" type="button" class="btn btn-secondary">
                Editar
                <i class="fas fa-edit ms-1"></i>
              </button>
              <button onclick="$('#modalDetalle').modal('hide')" type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Reportes -->
      <div id="modalReportes" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="min-width: 80vw !important;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Reporte Vendedores</h5>
              <div class="d-flex justify-content-center align-items-center gap-2">
                <button onclick="$('#modalReportes').modal('hide')" type="button" class="btn-close rounded-circle me-1" style="background-color: gray"></button>
              </div>
            </div>
            <div class="modal-body">
              <table id="tReports" style="table-layout: fixed;">
                <thead>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Total</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Última Agenda</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nit</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Usuario</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Dispositivo</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Version</th>
                  <th width="15%" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Bodega</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">ÚLltima entrega</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Gestión CRM</th>
                </thead>
                <tbody id="tBodyReports"></tbody>
              </table>
            </div>
            <div class="modal-footer justify-content-center">
              <button onclick="$('#modalReportes').modal('hide')" type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Reportes -->
      <div id="modalInforme" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="min-width: 80vw !important;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Informes Calendario</h5>
              <div class="d-flex justify-content-center align-items-center gap-2">
                <button onclick="$('#modalInforme').modal('hide')" type="button" class="btn-close rounded-circle me-1" style="background-color: gray"></button>
              </div>
            </div>
            <div class="modal-body">
              <div class="d-flex gap-3">
                <div style="width: 300px;">
                  <label for="">Motivo</label>
                  <select name="" id="selectMotivoCrm" class="form-control">
                    <option value="0" selected>...</option>
                  </select>
                </div>
                <div style="width: 300px;">
                  <label for="">Estado</label>
                  <select name="" id="selectEstadoCrm" class="form-control">
                    <option value="0" selected>...</option>
                    <option value="1">Citas Sin Aprobar</option>
                    <option value="2">Citas Agendadas</option>
                    <option value="3">Citas Canceladas</option>
                    <option value="4">Citas Completadas</option>
                    <option value="5">Citas Incumplidas</option>
                  </select>
                </div>
                <div id="btnModalInform" onclick="downloadAsExel(informes.report_quote)" title="Exportar Agenda" data-toggle="tooltip" class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader" style="margin-top: 35px;">
                  <i class="fas fa-file-download" style="font-size: 15px" ></i>
                  <div id="cartIndicator" class="badge badge-sm badge-circle badge-floating badge-primary border-white"></div>
                </div>
              </div>
              <table id="tInform">
                <thead style="table-layout: fixed;">
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Invitado</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nit/Id</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cliente/Prospecto</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nit Venddedor</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Usuario</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Titulo</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Estado</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Es CRM</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo de tarea</th>
                </thead>
                <tbody id="tBodyInform"></tbody>
              </table>
            </div>
            <div class="modal-footer justify-content-center">
              <button onclick="$('#modalInforme').modal('hide')" type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebarPage" class="sidebarPage rounded" sidebarState="closed" style="overflow-x: hidden;">
        <div class="d-flex justify-content-center my-3" style="position: relative; margin-bottom: 40px !important">
          <h5 id="sidebarResumeTitle" class="mt-2 mb-0" style="font-weight: 800; display: none">Resumen</h5>
          <h5 id="sidebarFilterTitle" class="mt-2 mb-0" style="font-weight: 800;">Filtros</h5>
        </div>
        <div id="sidebarContentResume" style="display: none;">
          
        </div>
        <div id="sidebarContentFilter" style="height: 80%;">
          <div class="d-flex flex-column justify-content-between h-100">
            <div>
              <div class="ms-2">
                <div>
                  <div class="form-check editEvent">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxFilterSend" style="position: relative; bottom: 3px;" checked>
                    <label class="custom-control-label d-flex gap-2" for="checkboxFilterSend">
                      <div style="width: 20px; height: 20px; border-radius: 50%; background-color: #E67E96;"></div>
                      Envío de Correo
                    </label>
                  </div>
                </div>
                <div>
                  <div class="form-check editEvent">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxFilterCall" checked style="position: relative; bottom: 3px;"> 
                    <label class="custom-control-label d-flex gap-2" for="checkboxFilterCall">
                      <div style="width: 20px; height: 20px; border-radius: 50%; background-color: #7743bf;"></div>
                      Llamada
                    </label>
                  </div>
                </div>
                <div>
                  <div class="form-check editEvent">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxFilterVisit" checked style="position: relative; bottom: 3px;">
                    <label class="custom-control-label d-flex gap-2" for="checkboxFilterVisit">
                      <div style="width: 20px; height: 20px; border-radius: 50%; background-color: #8BBF43;"></div>
                      Visita
                    </label>
                  </div>
                </div>
                <div>
                  <div class="form-check editEvent">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxFilterReminder" checked style="position: relative; bottom: 3px;">
                    <label class="custom-control-label d-flex gap-2" for="checkboxFilterReminder">
                      <div style="width: 20px; height: 20px; border-radius: 50%; background-color: #bf434d;"></div>
                      Recordatorio
                    </label>
                  </div>
                </div>
                <div>
                  <div class="form-check editEvent">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxFilterQuote" checked style="position: relative; bottom: 3px;">
                    <label class="custom-control-label d-flex gap-2" for="checkboxFilterQuote">
                      <div style="width: 20px; height: 20px; border-radius: 50%; background-color: #C5BB9A;"></div>
                      Cotización
                    </label>
                  </div>
                </div>

                <div>
                  <div class="form-check editEvent">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxFilterBirthdays" checked style="position: relative; bottom: 3px;">
                    <label class="custom-control-label d-flex gap-2" for="checkboxFilterBirthdays">
                      <div style="width: 20px; height: 20px; border-radius: 50%; background-color: #FBCF32;"></div>
                      Cumpleaños
                    </label>
                  </div>
                </div>
              </div>
    
              <hr class="horizontal dark my-2">

              <h6 class="mt-3">Usuarios</h6>
              <div class="ms-2 d-flex gap-2">

                <div onclick="openUsersModal()" class="me-1 d-flex align-items-center justify-content-center">
                  <i class="fas fa-user-plus ms-2" style="font-size: 30px; cursor: pointer;"></i>
                </div>

                <div id="filterSelectedUsers" class="d-flex gap-1">
                  <!-- contenido dinamico -->
                </div>
              </div>
            </div>

            <div class="text-center">
              <button onclick="removeFitlers()" id="createEventBtn" class="btn btn-icon btn-outline-dark ms-2" type="button">
                <i class="fas fa-trash"></i>
                <span class="btn-inner--text">Limpiar Filtros</span>
              </button>
              <button onclick="printEventsFiltered()" id="createEventBtn" class="btn btn-icon btn-outline-dark ms-2" type="button">
                <span class="btn-inner--text">Aplicar Filtros</span>
              </button>
            </div>
          </div>

        </div>
      </div>

      <!-- preloader -->
      <%- include('./partials/preloader.ejs') %> 
  </main>

  <!-- Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <script src="/js/plugins/fullcalendar.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/plugins/datatables.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script>
  <script src="/js/menu.js"></script>

  <!-- Exel Export Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.min.js" integrity="sha512-1Te7siOLNEh7EcFPjzHSXIX44IlAYuz5mH/w0HgFA1fWTDK8knx+MMbHb2cUD6+PuuCDQicf9M+0wYwRq7960Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js" integrity="sha512-Qlv6VSKh1gDKGoJbnyA5RMXYcvnpIqhO++MhIM2fStMcGT9i2T//tSwYFlcyoRRDcDZ+TYHpH8azBBCyhpSeqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
  <script>
    let persons;
    let personsCrm;
    let mastersCrm;
    let motivosCrm;
    let cumpleaños;
    let reportes;
    let informes;
    let informesFiltered;
    let dataComplete;
    let dataCompleteFormated;
    let dataReportSeller;
    let birthdaysFormated = [];
    let currentEvent;
    let crmEventsType = ["","Envio Correo", "Llamada", "visita", "Recordatorio", "Cotización"]
    let crmEventsColors = ["","#E67E96", "#7743bf", "#8BBF43", "#F0A000", "#C5BB9A"]
    let crmStatus = ["","Cita sin Aprobar", "Cita Agendada", "Cita Cancelada", "Citas Completada", "Cita Incumplida"]

    var calendarEl = document.getElementById('agenda');
    var agenda = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: "esLocale",
      firstDay: 1,
      height: "auto",
      windowResize: "true",
      headerToolbar: {
        left: 'dayGridMonth,timeGridWeek,timeGridDay',
        center: 'title',
        right:  'prev,next',
        month: 'Mes',
      },
      buttonText: {
        month: 'Mes', 
        day: 'Día', 
        week: 'Semana', 
        today: 'Hoy'
      },
      eventContent: function (arg) {
        let time = ""
        if (arg.timeText) {
          let s = formatAMPM(arg.event._def.extendedProps.dataS);
          let e = formatAMPM(arg.event._def.extendedProps.dataE);
          time = s + " - " + e;
        }

        let nameFormated;
        try { // Get firt name and last name or first sourname
          nameFormated = arg.event._def.extendedProps.userName.replace(/\s+/g, '  ').split(' ')
          if (nameFormated.length == 1 ) {
            nameFormated = nameFormated[0]
          } else {
            nameFormated = nameFormated[0] + " " + nameFormated[2]
          }
        } catch (error) {
          nameFormated = ""
        }

        let customHtml = `
          <span class='r10 eventCalendar d-flex flex-column' style='margin: 1px'>
            <div class="d-flex flex-column align-items-start justify-content-center text-center">
              <div class="text-center w-100">${time ? time + "<br>" : ""}</div>
              <div class="text-center w-100">${arg.event._def.title}</div>  
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <img src='https://api.pedbox.co:8590${arg.event._def.extendedProps.imgUrl}' width='30' height='30' style="border-radius: 50%; margin: 5px" onerror="this.onerror=null; this.src='https://app.pedbox.co/assets/images/avatars/profile.jpg'" >
              <div style="font-style: italic">${nameFormated ? nameFormated : ""}</div>  
            </div>
          </span>
        `;

        return { html: customHtml }
      },
      eventClick: function(event){
        detailEvent(event.event._def.publicId)
      },
      eventDrop: function(info){
        let id = info.event._def.publicId;
        let newDate = info.event.start.toISOString();
        updateEvent(id, newDate)
      },
      dateClick: function(info) {
        openModalNewEventAtDate(info)
      }
    });
    agenda.render();

    let getData =  () => {
      let currentDate = new Date().toJSON().slice(0,10).replaceAll("-", "");
      fetch("/agenda/data/"+currentDate)
      .then(response => response.json())
      .then(response => {
        persons = response.persons;
        personsCrm = response.personsCrm;
        mastersCrm = response.mastersCrm;
        motivosCrm = _.where(mastersCrm.result.master[0].master, {id_crm_master: 3});
        cumpleaños = response.cumpleaños;

        // Filtros Motivos CRM informes calendario
        for (let i = 0; i < motivosCrm.length; i++) {
          let element = `
            <option value="${motivosCrm[i].code}"> ${motivosCrm[i].description} </option>
          `;
          $("#selectMotivoCrm").append(element)
        }

        formatBirthdays();
        getDataCells();
        loadCrmMasters();
        loadCrmSellers();
        loadUsersModal();

        $("#preloader").hide();
      });
    }

    let updateEventModal = () => {
      $("#modalDetalle").modal("hide")
      $("#createEventModal").modal("show")

      $("#titleCreateEvent").hide()
      $("#titleEditEvent").show()

      $("#btnCreateEvent").hide()
      $("#bntEditEvent").show()

      $("#dataTitle").val(currentEvent.subject)
      $("#dataPlace").val(currentEvent.place)
      $("#dataNote").val(currentEvent.detail)

      $(".editEvent").hide()
    }

    let updateEventMiddleware = () => {
      if ($("#dataTitle").val() != "") {
        currentEvent.subject = $("#dataTitle").val()
      }
      if ($("#dataPlace").val() != "") {
        currentEvent.place = $("#dataPlace").val()
      }
      if ($("#dataNote").val() != "") {
        currentEvent.detail = $("#dataNote").val()
      }

      const objFiltered = {  // Filtering objt 
        activitie_user: currentEvent.activitie_user, 
        date_begin: currentEvent.date_begin, 
        date_end: currentEvent.date_end, 
        detail: currentEvent.detail, 
        hour_begin : currentEvent.hour_begin, 
        hour_end : currentEvent.hour_end, 
        id : currentEvent.id, 
        id_company : currentEvent.id_company, 
        id_reason : currentEvent.id_reason, 
        id_user_register : currentEvent.id_user_register, 
        is_crm: currentEvent.is_crm, 
        notification: currentEvent.notification, 
        place: currentEvent.place, 
        repeat_activitie: currentEvent.repeat_activitie, 
        status: currentEvent.status, 
        subject: currentEvent.subject, 
        type_task: currentEvent.type_task 
      } 

      fetch("/agenda/updateEvent", {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(objFiltered)
      })
      .then(response => response.json())
      .then(data => {
        if (data.result.success) {
          Swal.fire({
            icon: 'success',
            title: 'Evento editado exitosamente',
            showConfirmButton: false,
            timer: 1500
          })
        } else {
          Swal.fire({
            icon: 'error',
            title: 'No fue posible editar el evento',
            showConfirmButton: false,
            timer: 1500
          })
        }
        $("#createEventModal").modal("hide")
      })
      .catch(error => console.log('Request failed', error));
    }

    let updateEvent = (id, newDate) => {
      let obj = _.findWhere(dataComplete, {id: Number(id)});

      if (obj.date_begin.split("T").length == 1) {
        obj.date_begin = newDate.split("T")[0];
        obj.date_end = newDate.split("T")[0];
      } else {
        obj.date_begin 
        obj.date_end 
      }
      obj.repeat_activitie = [newDate.split("T")[0]]

      const objFiltered = {  // Filtering objt 
        activitie_user: obj.activitie_user, 
        date_begin: obj.date_begin, 
        date_end: obj.date_end, 
        detail: obj.detail, 
        hour_begin : obj.hour_begin, 
        hour_end : obj.hour_end, 
        id : obj.id, 
        id_company : obj.id_company, 
        id_reason : obj.id_reason, 
        id_user_register : obj.id_user_register, 
        is_crm: obj.is_crm, 
        notification: obj.notification, 
        place: obj.place, 
        repeat_activitie: obj.repeat_activitie, 
        status: obj.status, 
        subject: obj.subject, 
        type_task: obj.type_task 
      } 

      fetch("/agenda/updateEvent", {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(objFiltered)
      })
      .then(response => response.json())
      .then(data => {
        if (data.result.success) {
          Swal.fire({
            icon: 'success',
            title: 'Evento editado exitosamente',
            showConfirmButton: false,
            timer: 1500
          })
        } else {
          Swal.fire({
            icon: 'error',
            title: 'No fue posible editar el evento',
            showConfirmButton: false,
            timer: 1500
          })
        }
      })
      .catch(error => console.log('Request failed', error));
    }

    let detailEvent = (id) => {
      let data, user, type, reason;
      try {
        data = _.findWhere(dataComplete, {id: Number(id)});
        if (data.is_crm) {
          user = _.findWhere(persons.result.datas.users, {id: data.id_seller});
          reason = _.findWhere(mastersCrm.result.master[0].master, {id: data.id_reason});
          type = crmEventsType[data.id_type]
        } else {
          user = _.findWhere(persons.result.datas.users, {id: data.id_user_register});
        }
      } catch (error) {return}

      currentEvent = data
      
      let date;
      if (data.date_begin == data.date_end) {
        date = nvFormatDate(data.date_begin, "mmmm DD, YYYY");
      } else {
        date = nvFormatDate(data.date_begin, "mmmm DD, YYYY") + " - " + nvFormatDate(data.date_end, "mmmm DD, YYYY")
      }

      $("#titleDetail").attr("data-id", id)
      $("#titleDetail").text(data.subject)
      $("#detailName").text(user.description)
      $("#detailDate").text(date)
      $("#detailPlace").text(data.place)

      if (data.detail) {
        $("#detailDetail").parent().attr("style", "")
        $("#detailDetail").text(data.detail)
      } else {
        $("#detailDetail").parent().attr("style", "display: none !important")
      }

      if (data.is_crm){
        $("#detailType").parent().attr("style", "")
        $("#detailReason").parent().attr("style", "")

        $("#detailType").text(type)
        $("#detailReason").text(reason.description)
      } else {
        $("#detailType").parent().attr("style", "display: none !important")
        $("#detailReason").parent().attr("style", "display: none !important")
      }

      $("#unconformedContainer").html("")
      $("#confirmedContainer").html("")
      for (let i = 0; i < data.activitie_user.length; i++) {
        let id = data.activitie_user[i].id_user;
        let dataUser = _.findWhere(persons.result.datas.users, {id: id});

        let element = `
          <div class="imgUser" title="${dataUser.description}" data-toggle="tooltip">
            <img src="https://api.pedbox.co:8590${dataUser.photo}" alt="" style="max-width: 100%; max-height: 100%;">
          </div>
        `;
        
        if (data.activitie_user[i].status == 2) {
          $("#confirmedContainer").append(element)
        } else {
          $("#unconformedContainer").append(element)
        }
      }

      $("#confirmedContainer").parent().show();
      if ($("#confirmedContainer>div").length == 0) {
        $("#confirmedContainer").parent().hide();
      }
      $("#unconformedContainer").parent().show();
      if ($("#unconformedContainer>div").length == 0) {
        $("#unconformedContainer").parent().hide();
      }

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

      $("#modalDetalle").modal("show")
    }

    let printTableReports = () => {
      if (reportes.success && reportes.result.length != 0) {
        let data = reportes.result;
        for (let i = 0; i < data.length; i++) {
          let element = `
            <tr>
              <td class="text-center">${data[i].total_agendas}</td>
              <td class="text-center">${data[i].fecha_ultima_agenda || "-"}</td>
              <td class="text-center">${data[i].nit || "-"}</td>
              <td class="text-center">${data[i].vendedor || "-"}</td>
              <td class="text-center">${data[i].usuario || "-"}</td>
              <td class="text-center">${data[i].dispositivo || "-"}</td>
              <td class="text-center">${data[i].nro_version || "-"}</td>
              <td class="text-center">${data[i].bodega || "-"}</td>
              <td class="text-center">${data[i].fecha_ultima_conexion || "-"}</td>
              <td class="text-center">${data[i].gestion_crm }</td>
            </tr>
          `;
          $("#tBodyReports").append(element)
        }
        const tableObj = new simpleDatatables.DataTable("#tReports", {
          sortable: false,
          perPageSelect: false
        });
      } else {
        $("#btnModalReports").hide();
      }
    }

    var tableObj
    let printTableInform = () => {
      if (informes.success && informes.report_quote.length != 0) {
        let data = informes.report_quote;
        for (let i = 0; i < data.length; i++) {
          let element = `
            <tr>
              <td class="text-center">Cliente</td>
              <td class="text-center">${data[i].nit_customer || "-"}</td>
              <td class="text-center">${data[i].name_customer || "-"}</td>
              <td class="text-center">${data[i].nit_seller || "-"}</td>
              <td class="text-center">${data[i].name_seller || "-"}</td>
              <td class="text-center">${data[i].subject || "-"}</td>
              <td class="text-center">${crmStatus[data[i].status]}</td>
              <td class="text-center">${(data[i].is_crm ? "Sí" : "No") }</td>
              <td class="text-center">${data[i].type_activity || "-" }</td>
            </tr>
          `;
          $("#tBodyInform").append(element)
        }
        tableObj = new simpleDatatables.DataTable("#tInform", {
          sortable: false,
          perPageSelect: false
        });
      } else {
        $("#btnModalInform").hide();
      }
    }
    
    let getDataCells = () => {
      agenda.removeAllEvents();
      var cells = $("#agenda td.fc-daygrid-day");
      let firstDate = cells.first().data("date");
      let lastDate = cells.last().data("date");

      fetch(`/agenda/getData/${firstDate}/${lastDate}`)
      .then(response => response.json())
      .then(data => {
        let dataFormated = data[0];
            dataCompleteFormated = data[0];
            dataComplete = data[1].result.data_user;
            reportes = data[2];
            informes = data[3];
        for (let i = 0; i < dataFormated.length; i++) {
          if (dataFormated[i].is_crm) {
            dataFormated[i].backgroundColor = crmEventsColors[dataFormated[i].id_type]
          }

          if (dataFormated[i].id_user == session.user.id) {
            dataFormated[i].editable = true
          } else {
            dataFormated[i].editable = false
          }
          console.log(dataFormated[i])
          addEvent(dataFormated[i])
        }
        printTableInform()
        printTableReports()
        printSidebarResume()
      })
      .catch(error => console.log('Request failed', error));

      for (let i = 0; i < birthdaysFormated.length; i++) {
        addEvent(birthdaysFormated[i])
      }
    }

    let removeFitlers = () => {
      $("#checkboxFilterSend").prop('checked', true);
      $("#checkboxFilterCall").prop('checked', true);
      $("#checkboxFilterVisit").prop('checked', true);
      $("#checkboxFilterReminder").prop('checked', true);
      $("#checkboxFilterQuote").prop('checked', true);
      $("#checkboxFilterBirthdays").prop('checked', true);

      $("#filterSelectedUsers").html("")
      printEventsFiltered()
    }

    let printEventsFiltered = () => {
      let dataApliedFilter = JSON.parse(JSON.stringify(dataCompleteFormated));

      if (!$("#checkboxFilterSend").is(":checked")) {
        dataApliedFilter = _.reject(dataApliedFilter, function(event){ return event.id_type  == 1; });
      }
      if (!$("#checkboxFilterCall").is(":checked")) {
        dataApliedFilter = _.reject(dataApliedFilter, function(event){ return event.id_type  == 2; });
      }
      if (!$("#checkboxFilterVisit").is(":checked")) {
        dataApliedFilter = _.reject(dataApliedFilter, function(event){ return event.id_type  == 3; });
      }
      if (!$("#checkboxFilterReminder").is(":checked")) {
        dataApliedFilter = _.reject(dataApliedFilter, function(event){ return event.id_type  == 4; });
      }
      if (!$("#checkboxFilterQuote").is(":checked")) {
        dataApliedFilter = _.reject(dataApliedFilter, function(event){ return event.id_type  == 5; });
      }
      
      if ($("#checkboxFilterBirthdays").is(":checked")) { 
        for (let i = 0; i < birthdaysFormated.length; i++) {
          dataApliedFilter.push(birthdaysFormated[i])
        }
      }

      // Filtros usuarios
      if ($("#filterSelectedUsers>div").length >= 1) {
        let items = ($("#filterSelectedUsers>div"));
        let idUsersFilter = [];

        for (let i = 0; i < items.length; i++) { // Array con id de los usuarios seleccionados para el filtro
          if (idUsersFilter.indexOf(items[i]) == -1) {
            idUsersFilter.push(Number($(items[i]).attr("data-user"))) 
          }
        }
        console.log(idUsersFilter)
        
        let indexEventsFilteredByUserId = [];
        for (let i = 0; i < dataApliedFilter.length; i++) { // Index de los eventos con id_user de los usuarios seleccionados
          if (_.contains(idUsersFilter, dataApliedFilter[i].id_user)) {
            indexEventsFilteredByUserId.push(i)
          }
        }

        let dataApliedFilterCopie = [];
        if (indexEventsFilteredByUserId.length) {
          for (let i = 0; i < indexEventsFilteredByUserId.length; i++) { // añadiento estos eventos a un un array diferente
            dataApliedFilterCopie.push(dataApliedFilter[indexEventsFilteredByUserId[i]])
          }

          if (dataApliedFilterCopie.length) { // Reasignado los eventos con el filtro de usuarios al array original
            dataApliedFilter = dataApliedFilterCopie
          }
        }
      }

      agenda.removeAllEvents();
      for (let i = 0; i < dataApliedFilter.length; i++) {
        if (dataApliedFilter[i].is_crm) {
          dataApliedFilter[i].backgroundColor = crmEventsColors[dataApliedFilter[i].id_type]
        }
        addEvent(dataApliedFilter[i])
      } 
    }

    let createEvent = () => {
      cleanForm();

      $("#titleCreateEvent").show()
      $("#titleEditEvent").hide()

      $("#btnCreateEvent").show()
      $("#bntEditEvent").hide()

      $(".editEvent").show()

      $(".fieldInput").removeClass("badField");
      $("#createEventModal").modal("show");
    }

    let changeEventState = (operation, id, isCRM) => {
      let status;
      let crm = false;

      if (operation == 1) { status = 3 } // Rechazar
      if (operation == 2) { status = 2 } // Aceptar

      if (isCRM == "true") { crm = true } 

      let obj = { 
        "activitie_user": [
          {
            "id_activitie": Number(id),
            "id_user": session.user.id,
            "status": status
          }
        ],
        "is_quote_provider": false,
        "is_crm": crm
      }

      fetch("/agenda/eventState", {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(obj)
      })
      .then(response => response.json())
      .then(response => {
        console.log(response)
        if (response.result.success && operation == 2) {
          Swal.fire({
            icon: 'success',
            title: 'Evento Aceptado',
            showConfirmButton: true,
            timer: 1500
          })
          getDataCells()
        }
        if (operation == 1) {
          let element = `
            <div class="text-secondary" style="color: red !important"> Rechazado </div>
          `;
          $('.rejectEvent[data-id="'+id+'"]').parent().before(element);
          $('.rejectEvent[data-id="'+id+'"]').parent().remove();
        }
      })



      console.log(operation, id, isCRM)
    }

    let deleteEvent = () => {
      let id = $("#titleDetail").attr("data-id")
      Swal.fire({
        title: '¿Estás seguro de eliminar este evento?',
        showConfirmButton:false,
        showDenyButton: true,
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        denyButtonText: `Eliminar`,
      }).then((result) => {
        if (result.isDenied) {
          fetch(`/agenda/deleteEvent/${id}`)
          .then(response => response.json())
          .then(data => {
            if (data.result.success) {
              let event = agenda.getEventById(id);
              event.remove();
              $("#modalDetalle").modal("hide");
              Swal.fire({
                icon: 'success',
                title: 'Evento eliminado exitosamente',
                showConfirmButton: false,
                timer: 1500
              })
            } else {
              Swal.fire('No fue posible eliminar el evento')
            }
          })
          .catch(error => console.log('Request failed', error));
        }
      })
    }

    let formatAMPM = (date) => {
      var hours = date.substring(0,2);
      var minutes = date.substring(3,5);

      var ampm = hours >= 12 ? 'pm' : 'am';
      hours = hours % 12;
      hours = hours ? hours : 12; 
      var strTime = hours + ':' + minutes + ' ' + ampm;
      return strTime;
    }

    // openModalNewEventAtDate
    let cleanForm = () => {
      $('input:checkbox').prop('checked', false);
      $('#checkboxDayComplete').prop('checked', true);

      $("#dataDateS").attr("type", "date")
      $("#dataDateE").attr("type", "date")
      
      $('input:text').val('');
      $('#dataNote').val('');

      $("#dataNotificate").val("0");
      $("#dataRepeat").val("0");
      $("#dataDaysRepeat").val("1"); 
      $("#dataTipoTarea").val("0");
      $("#dataMotivo").val("0")
      $("#dataVendedor").val("0")

      $('#dataDateS').val(moment().format('YYYY-MM-DD'));
      $('#dataDateE').val(moment().format('YYYY-MM-DD'));
      $('#dateUntil').val(moment().format('YYYY-MM-DD'));

      $("#selectedUsersCrm").html("");
      $("#selectedUsers").html("");
    }

    let getDataNewEvent = () => {
      if (!checkFields()) {
          return Swal.fire({
          icon: 'warning',
          title: 'Llena los campos marcados con (*) antes de enviar',
          confirmButtonText: 'Continuar',
        })
      }

      let data = {
        "place": $("#dataPlace").val().trim(),
        "detail": $("#dataNote").val().trim(),
        "subject": $("#dataTitle").val().trim(),
        "id_user_register": session.user.id,
        "id_company": session.user.id_company,
        "activitie_user": [
          {
            "id_user": session.user.id,
            "id_person": null,
            "nit_customer": null,
            "status": 2, // ?
            "id_contact": [],
            "is_user": 1 // ?
          }
        ],
        "notification": "",
        "type_task": 4, // ?
        "status": 2, // ?
        "is_crm": "",
        "id_reason": null, //crm
        "id_type": null
      }

      if ($("#checkboxCrm").is(':checked')) {
        data.is_crm = true;
        data.id_type = Number($("#dataTipoTarea").val());
        data.id_seller = Number($("#dataVendedor").val());
        ($("#dataMotivo").val() != "0" ? data.id_reason = Number($("#dataMotivo").val()) : "")
      }

      if ($("#checkboxDayComplete").is(':checked')) {
        data.date_begin = $("#dataDateS").val();
        data.date_end =  $("#dataDateE").val();
      } else {
        let s = $("#dataDateS").val().split("T")
        let e = $("#dataDateE").val().split("T")

        data.date_begin = s[0];
        data.hour_begin = s[1];
        
        data.date_end =  e[0];
        data.hour_end =  e[1];
      }

      if ($("#selectedUsers>div").length) {
        let users = $("#selectedUsers>div");
        for (let i = 0; i < users.length; i++) {
          if (Number($(users[i]).attr("data-user")) == session.user.id) { continue }

          data.activitie_user.push({
            "id_user": Number($(users[i]).attr("data-user")),
            "id_person": null,
            "nit_customer": null,
            "status": 2, // ?
            "id_contact": [],
            "is_user": 1 // ?
          })
        }
      }

      if ($("#dataNotificate").val() != "0") {
        data.notification = $("#dataNotificate").val()
      }

      if ($("#dataRepeat").val() != "0") {
        let days = Number($("#dataDaysRepeat").val());
        let daysRepeat = [];

        if ($("#dataRepeat").val() == "1") {
          data.daysRepeat = [{"day":"0"}, {"day":"1"}, {"day":"2"}, {"day":"3"}, {"day":"4"}, {"day":"5"}, {"day":"6"}];
          let amount = Number($("#dataDaysRepeat").val())
          let repeat_activities = []

          for (let i = 0; i < amount; i++) {
            if (i == 0) {
              repeat_activities.push($("#dataDateS").val())
              continue
            }
            let day = moment($("#dataDateS").val()).add(i, 'days')._d;
            repeat_activities.push(moment(day).format("YYYY-MM-DD"))
          }
          data.repeat_activitie = repeat_activities;
        }

        if ($("#dataRepeat").val() == "2") {
          let fields = $(".inputDayWeek");
          for (let i = 0; i < fields.length; i++) {
            if ($(fields[i]).is(":checked")) {
              daysRepeat.push({
                day : $(fields[i]).attr("data-day")
              })
            }
          }
          data.daysRepeat = daysRepeat;
          data.repeat_activitie = datesInRangeOfDates({
            "dateIni": $("#dataDateS").val(),
            "dateFin": $("#dateUntil").val(),
            "daysRepeat": data.daysRepeat
          });
        } 
      }

      createEventPetition(data)
    }
    
    let checkFields = () => {
      $(".fieldInput").removeClass("badField");
      let isOkay = true;

      if ($("#dataTitle").val() == "") {
        $("#dataTitle").addClass("badField");
        isOkay = false;
      }

      if ($("#dataPlace").val() == "") {
        $("#dataPlace").addClass("badField");
        isOkay = false;
      }

      if ($("#dataDateS").val() == "") {
        $("#dataDateS").addClass("badField");
        isOkay = false;
      }

      if ($("#dataDateE").val() == "") {
        $("#dataDateE").addClass("badField");
        isOkay = false;
      }

      if ($("#checkboxCrm").is(':checked')) {
        if ($("#dataTipoTarea").val() == "0") {
          $("#dataTipoTarea").addClass("badField");
          isOkay = false;
        }

        if ($("#dataVendedor").val() == "0") {
          $("#dataVendedor").addClass("badField");
          isOkay = false;
        }
      }
      return isOkay
    }

    let datesInRangeOfDates = (params) => {
      let dateIni = Date.parse(params.dateIni);
      let dateFin = Date.parse(params.dateFin);
      let daysToRepeat = [];
      for (let i = dateIni; i < dateFin; i += 86400000) {
        let date = new Date(i);
        let dia = date.getDay();
        for (let index in params.daysRepeat) {
          if(dia == params.daysRepeat[index].day) {
            daysToRepeat.push(date.toISOString());
            break;
          }
        }
      }
      if(dateIni == dateFin) {
        let date = new Date(dateIni);
        daysToRepeat = [date];
      }
      return daysToRepeat;
    }

    let createEventPetition = (data) => {
      let route;
      if ($("#dataRepeat").val() != "0") {
        route = "/agenda/createEventRepeat"
      } else {
        route = "/agenda/createEvent"
      }

      fetch(route, {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(data)
      })
      .then(res => res.json())
      .then(res =>{   
        console.log(res)
        if (res.result.success) {
          Swal.fire({
            icon: 'success',
            title: 'Evento creado con éxito',
            confirmButtonText: 'Continuar',
          }).then(() => {
            let objUser;
            try {
              if (res.result.quote.is_crm) {
                objUser = _.findWhere(persons.result.datas.persons, {id_user: Number(res.result.quote.id_seller)});
              } else {
                objUser = _.findWhere(persons.result.datas.persons, {id_user: Number(res.result.quote.id_user_register)});
              }
            } catch (error) {}

            let dataDateS = (res.result.quote.hour_begin ? "T"+res.result.quote.hour_begin + ":00" : "")
            let dataDateE = (res.result.quote.hour_end ? "T"+res.result.quote.hour_end + ":00" : "")
            let data = {
              id: res.result.quote.id,
              title: res.result.quote.subject ,
              start: res.result.quote.date_begin + dataDateS,
              end: res.result.quote.date_end + dataDateE,
              imgUrl: objUser.photo || "",
              userName: objUser.name_person || "",
              id_user: objUser.id || null,
              id_type: res.result.quote.id_type,
              dataE: res.result.quote.date_end,
              dataS: res.result.quote.date_begin
            }

            if (res.result.quote.is_crm) {
              data.backgroundColor = crmEventsColors[data.id_type]
            }

            addEvent(data)
            $("#createEventModal").modal("hide")
          });
        } else {
          Swal.fire({
            icon: 'error',
            title: 'No fue posible crear el evento',
            confirmButtonText: 'Continuar',
          }).then(() => {
            $("#createEventModal").modal("hide")
          });
        }
      })
    }

    let addEvent = (data) => {
      agenda.addEvent( data )
    }

    let openUsersModal = () => {
      $('.chkboxUser').prop('checked', false);
      $("#thirdsWindow").show("slow");
    }
    let openUsersCrmModal = () => {
      $('.chkboxUser').prop('checked', false);
      $("#thirdsCrmWindow").show("slow");
    }
    
    let loadUsersModal = () => {
      let data = persons.result.datas.users || [];
      for (let i = 0; i < data.length; i++) {
        let element = `
          <tr>
            <td> 
              <div class="form-check">
                <input type="checkbox" class="chkboxUser form-check-input" id="${data[i].id}">
              </div>
            </td>
            <td>${data[i].user}</td>
            <td>${data[i].description}</td>
            <td>${data[i].role}</td>
          </tr>
        `;
        $("#tableBodyThirds").append(element)
      }
      const tableObj = new simpleDatatables.DataTable("#tableThirds", {
        perPageSelect: false,
        sortable: false,
      });
    }

    let loadUsersCrmModal = () => { // I think this is not necesary
      let data = personsCrm.result.persons || [];
      for (let i = 0; i < data.length; i++) {
        let role;
        switch (data[i].type_user) {
          case "U":
            role = "Cliente"
            break;
          default:
            role = "-"
            break;
        }

        let element = `
          <tr>
            <td class="d-flex justify-content-center">  
              <div class="form-check">
                <input type="checkbox" class="chkboxUserCrm form-check-input" id="${data[i].id}" data-name="${data[i].name_person}">
              </div>
            </td>
            <td>${data[i].num_identification}</td>
            <td>${data[i].name_person}</td>
            <td>${role}</td>
          </tr>
        `;
        $("#tableBodyThirdsCrm").append(element)
      }
      const tableObj = new simpleDatatables.DataTable("#tableThirdsCrm", {
        perPageSelect: false,
        sortable: false
      });
    }

    let getSelectedUsers = () => {
      let chckBoxes = $(".chkboxUser")
      let selectedUsers = [];
      for (let i = 0; i < chckBoxes.length; i++) {
        if ($(chckBoxes[i]).is(':checked')) {
          selectedUsers.push($(chckBoxes[i]).attr("id"))
        }        
      }
      $("#thirdsWindow").hide("fast")
      printUsersSelected(selectedUsers)
    }

    let getSelectedUsersCrm = () => {
      let id = $('.chkboxUserCrm:checked').attr("id");
      let name = $('.chkboxUserCrm:checked').attr("data-name");

      $("#selectedUsersCrm").html("")
      let element = `
        <div class="imgUserContainer" data-user="${id}">
          <div class="imgUser" data-toggle="tooltip" title="${name}">
            <img src="https://app.pedbox.co/assets/images/avatars/profile.jpg" alt="" style="max-width: 100%; max-height: 100%;">
          </div>
          <div class="badge badge-sm badge-circle badge-floating badge-primary border-white removeUserIcon" style="display: none; transition: 0.3s;">X</div>
        </div>
      `;
      $("#selectedUsersCrm").append(element)
      
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      
      $(".chkboxUserCrm").prop('checked', false);
      $("#thirdsCrmWindow").hide("fast")
    }

    let formatBirthdays = () => {
      cumpleaños = cumpleaños.result.result;
      for (let i = 0; i < cumpleaños.length; i++) {
        let user = _.findWhere(persons.result.datas.users, {id: cumpleaños[i].id});
        let year = new Date().getFullYear();
        let date = cumpleaños[i].date_birth.substring(4, 10);
            date = year + date;

        
        birthdaysFormated.push({
          id: user.id,
          title: "🎉 Cumpleaños 🎉 <br>" + user.description, 
          start: date, 
          imgUrl: user.photo || "",
          allDay: true,
          backgroundColor: "#FBCF32",
          textColor: "#212020",
          editable: false,
          date_begin: date
        })
      }
    }

    let printSidebarResume = () => {
      let data = dataComplete.concat(birthdaysFormated);
          data = _.sortBy(data, 'date_begin');
      let currentMonth = agenda.getDate().getMonth();
      let currentMonthString = agenda.currentData.viewTitle;
          currentMonthString = currentMonthString.split(" ")[0];
      let lastDay = -1;

      $("#sidebarContentResume").html("")
      for (let i = 0; i < data.length; i++) {
        if (data[i].status == 0) { continue } // Avoid closed event

        console.log(data[i])
        let date = data[i].start || data[i].date_begin;
            date =  new Date(date)

        if (date.getMonth() == currentMonth) {
          currentDay = date.getDate();
          let element = `
            <div class="mt-2">
              <h6 class="text-secundary text-muted">${currentMonthString} ${date.getDate() + 1}</h6>
            </div>
            <hr class="horizontal dark">
          `;

          if (lastDay == date.getDate()) {
            addEventSidebar(data[i])
            continue
          }

          $("#sidebarContentResume").append(element)
          addEventSidebar(data[i])
          lastDay = date.getDate()
        }
      }
    }

    let addEventSidebar = (data) => {
      console.log("data sibdear", data)
      let isPending = false;
      let isRejected = false;
      try {
        if (data.activitie_user[0].status == 1) {
          isPending = true;
        }
        if (data.activitie_user[0].status == 3) {
          isRejected = true;
        }
      } catch (error) {}

      let isCRM = data.is_crm || false;
      let detail = data.detail || false;
      let title = data.title || data.subject;
      let place = data.place || false;
      let user = data.userName || false


      let element = `
        <span class='r10 eventCalendar d-flex my-1' style="position: relative;">
          <img src='https://api.pedbox.co:8590${data.imgUrl}' width='30' height='30' style="border-radius: 50%; margin: 5px; margin-right: 15px;" onerror="this.onerror=null; this.src='https://app.pedbox.co/assets/images/avatars/profile.jpg'">
          <div class="d-flex flex-column justify-content-center">
            <div style="font-weight: 800;"> ${title ? title : ""} </div>
            ${detail ? ' <div class="text-secondary">'+detail+' </div>' : ''}
            ${place ? ' <div class="text-secondary">'+place+' </div>' : ''}
            ${user ? ' <div class="text-secondary">'+user+' </div>' : ''}
            ${isPending && !isRejected? ' <div class="text-secondary selectEventState"> <h6 class="aceptEvent" data-id="'+data.id+'" data-crm="'+(isCRM ? "true" : "false")+'">Rechazar</h6> <h6 class="rejectEvent" data-id="'+data.id+'" data-crm="'+(isCRM ? "true" : "false")+'">Aceptar</h6>  </div>' : ''}
            ${isRejected ? ' <div class="text-secondary" style="color: red !important"> Rechazado </div>' : ''}
          </div>
          <div style="position: absolute; height: 100%; width: 3px; background-color: ${data.backgroundColor}; left: 40px; margin: 5px"></div>
        </span>
      `;
      $("#sidebarContentResume>div").last().append(element)
    }

    let printUsersSelected = (data) => {
      let addUsersTo = ($("#sidebarPage").attr("sidebarState") == "closed" ? "#selectedUsers" : "#filterSelectedUsers"); // Si el sidebar esta abirto entonces se supone que se estan seleccionando los usuarios para los filtros, caso contrario, los usuarios para la creación de eventos
      let users = [];
      for (let i = 0; i < data.length; i++) {
        users.push(_.where(persons.result.datas.users, {id: Number(data[i])}))
      }

      $(addUsersTo).html("")
      // filterSelectedUsers
      for (let i = 0; i < users.length; i++) {
        let element = `
          <div class="imgUserContainer" data-user="${users[i][0].id}">
            <div class="imgUser" title="${users[i][0].description}" data-toggle="tooltip">
              <img class="userSelectedImg" src="https://api.pedbox.co:8590${users[i][0].photo}" alt="" style="max-width: 100%; max-height: 100%;">
            </div>
            <div class="badge badge-sm badge-circle badge-floating badge-primary border-white removeUserIcon" style="display: none; transition: 0.3s;">X</div>
          </div>
        `;
        $(addUsersTo).append(element)
      };

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    }

    let loadCrmMasters = () => {
      let master = mastersCrm.result.master[0].master || []
      for (let i = 0; i < master.length; i++) {
        if (master[i].type_concept == 3) {
          let element = `
            <option value="${master[i].id}">${master[i].description}</option>
          `;
          $("#dataMotivo").append(element)
        }
      }
      $("#dataMotivo").append(`<option value="0" selected>Seleccionar</option>`)
    }

    let loadCrmSellers = () => {
      let master = persons.result.datas.users || []
      for (let i = 0; i < master.length; i++) {
        if (master[i].role != "Vendedor") {continue}
        let element = `
          <option value="${master[i].id}">${master[i].description}</option>
        `;
        $("#dataVendedor").append(element)
      }
      $("#dataVendedor").append(`<option value="0" selected>Seleccionar</option>`)
    }

    let openModalNewEventAtDate = (data) => {
      createEvent();
      if (data.allDay) {
        $("#dataDateS").val(data.dateStr)
        $("#dataDateE").val(data.dateStr)  
      } else {
        $("#dataDateS").attr("type", "datetime-local")
        $("#dataDateE").attr("type", "datetime-local")

        $("#dataDateS").val(data.dateStr.slice(0,19))
        $("#dataDateE").val(moment(data.dateStr.slice(0,19)).add(30, 'minutes').format("YYYY-MM-DDTHH:mm"))  
      }

      $("#createEventModal").modal("show")
    }

    // TODO Fncion exel, Mover
    const EXCEL_TYPE = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8';
    const EXCEL_EXTENSION = '.xls';

    function downloadAsExel(data) {
      const worksheet = XLSX.utils.json_to_sheet(data);
      const workbook = {
        Sheets:{
          'data':worksheet
        },
        SheetNames:['data']
      };
      const exelBuffer = XLSX.write(workbook, {bookType: 'xls', type: 'array'});
      saveAsExcel(exelBuffer, "data_calendar_crm");
    }

    function saveAsExcel(buffer, fileName) {
      const data = new Blob([buffer], {type: EXCEL_TYPE});
      saveAs(data, fileName + 'export' + EXCEL_EXTENSION);
    }

    $(document).ready(function () {
      $(".btn-sidenav").on("click", function () {
        setTimeout(() => {
          agenda.render();
        },300);
      })

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

      $("#createEventBtn").click(function () {
        createEvent()
      })

      $('#checkboxCrm').click(function(){
        if($(this).is(':checked')){
          $("#dataCrmSection").show(500)
        } else {
          $("#dataCrmSection").hide()
        }
      });

      $('#checkboxDayComplete').click(function(){
        if($(this).is(':checked')){
          $("#dataDateS").attr("type", "date")
          $("#dataDateE").attr("type", "date")

          $("#dataDateS").val(moment().format("YYYY-MM-DD"))
          $("#dataDateE").val(moment().format("YYYY-MM-DD"))
        } else {
          $("#dataDateS").attr("type", "datetime-local")
          $("#dataDateE").attr("type", "datetime-local")

          $("#dataDateS").val(moment().format("YYYY-MM-DDTHH:mm"))
          $("#dataDateE").val(moment().format("YYYY-MM-DDTHH:mm"))
        }
      });

      $('#selectAllTable').click(function(){
        if($(this).attr("data-state") == "0"){
          $('.chkboxUser').prop('checked', true);
          $(this).attr("data-state", 1)
        } else {
          $('.chkboxUser').prop('checked', false);
          $(this).attr("data-state", 0)
        }
      });

      $("#dataRepeat").on("change", function () {
        if ($(this).val() == "1") {
          $("#selectWeekDays").hide()
          $("#dateUntilContainer").hide()
          $("#selectDaysRepeat").show()
        }
        if ($(this).val() == "2") {
          $("#selectDaysRepeat").hide()
          $("#selectWeekDays").show()
          $("#dateUntilContainer").show()
        }
        if ($(this).val() == "0") {
          $("#selectDaysRepeat").hide()
          $("#selectWeekDays").hide()
          $("#dateUntilContainer").hide()
        }
      })

      // Filtros Informes
      $("#selectEstadoCrm").on("change", function (){
        $("#selectMotivoCrm").val('0');
        let selected = $("#selectEstadoCrm option:selected").val();
        if (selected != "0") {
          informesFiltered = _.where(informes.report_quote, {status: Number(selected)})

          tableObj.destroy();
          $("#tBodyInform").html("")

          let data = informesFiltered;
          for (let i = 0; i < data.length; i++) {
            let element = `
              <tr>
                <td class="text-center">Cliente</td>
                <td class="text-center">${data[i].nit_customer || "-"}</td>
                <td class="text-center">${data[i].name_customer || "-"}</td>
                <td class="text-center">${data[i].nit_seller || "-"}</td>
                <td class="text-center">${data[i].name_seller || "-"}</td>
                <td class="text-center">${data[i].subject || "-"}</td>
                <td class="text-center">${crmStatus[data[i].status]}</td>
                <td class="text-center">${(data[i].is_crm ? "Sí" : "No") }</td>
                <td class="text-center">${data[i].type_activity || "-" }</td>
              </tr>
            `;
            $("#tBodyInform").append(element)
          }
          tableObj = new simpleDatatables.DataTable("#tInform", {
            sortable: false,
            perPageSelect: false
          });

        } else {
          tableObj.destroy();
          $("#tBodyInform").html("")
          printTableInform()
        }
      })

      $("#selectMotivoCrm").on("change", function (){
        $("#selectEstadoCrm").val('0');
        let selected = $("#selectMotivoCrm option:selected").val();
        if (selected != "0") {
          informesFiltered = _.where(informes.report_quote, {type_reason: Number(selected)})

          tableObj.destroy();
          $("#tBodyInform").html("")

          let data = informesFiltered;
          for (let i = 0; i < data.length; i++) {
            let element = `
              <tr>
                <td class="text-center">Cliente</td>
                <td class="text-center">${data[i].nit_customer || "-"}</td>
                <td class="text-center">${data[i].name_customer || "-"}</td>
                <td class="text-center">${data[i].nit_seller || "-"}</td>
                <td class="text-center">${data[i].name_seller || "-"}</td>
                <td class="text-center">${data[i].subject || "-"}</td>
                <td class="text-center">${crmStatus[data[i].status]}</td>
                <td class="text-center">${(data[i].is_crm ? "Sí" : "No") }</td>
                <td class="text-center">${data[i].type_activity || "-" }</td>
              </tr>
            `;
            $("#tBodyInform").append(element)
          }
          tableObj = new simpleDatatables.DataTable("#tInform", {
            sortable: false,
            perPageSelect: false
          });

        } else {
          tableObj.destroy();
          $("#tBodyInform").html("")
          printTableInform()
        }
      })

      // Sidebar
      $(document).on('click', function(e) { // Cerrar sidebar 
        if ($("#sidebarPage").attr("sidebarState") == "open") {
          if ((e.target.id == "thirdsWindow" || $(e.target).parents("#thirdsWindow").length)) { // En este caso no se cierra porque se esta seleccionando los usuarios para el filtro
            return
          }
          if ($(e.target).hasClass("badge") || $(e.target).hasClass("userSelectedImg")){ // Evitar que se cierra el sidebaar cuando de eliminar usuarios seleccionados para el filtro
            return
          }
          if (!(e.target.id == "sidebarPage" || $(e.target).parents("#sidebarPage").length)) { // si el click no fue en el sidebar o en uno de sus hijos
            $("#sidebarPage").attr("sidebarState", "closed");
            $("#sidebarPage" ).hide("slide", { direction: "right" }, 300);
          }
        }
      });

      // Cerrar modal de selección de usuarios al cerrar modal de formulario
      $('#createEventModal').on('hidden.bs.modal', function () {
        $("#thirdsWindow").hide( "slow" )
        $("#thirdsCrmWindow").hide( "slow" )
      });

      $(document).on("click", ".aceptEvent", function () {
        changeEventState(1, $(this).attr("data-id"), $(this).attr("data-crm"))
      })

      $(document).on("click", ".rejectEvent", function () {
        changeEventState(2, $(this).attr("data-id"), $(this).attr("data-crm"))
      })

      $(document).on("click", ".fc-next-button", function () {
        getDataCells()
      })

      $(document).on("click", ".fc-prev-button", function () {
        getDataCells()
      })

      $(document).on("click", ".chkboxUserCrm", function () {
        $(".chkboxUserCrm").prop('checked', false);
        $(this).prop('checked', true);
      })

      $(document).on("click", ".imgUserContainer", function () {
        $('.tooltip').tooltip('hide');
        $(this).remove();
      })

      $(document).on("mouseover", ".imgUserContainer", function () {
        $(this).find(".badge").show()
      })
      
      $(document).on("mouseout", ".imgUserContainer", function () {
        $(this).find(".badge").hide()
      })

      getData()

      $("#menuAgenda").addClass("activeNav")
    })
  </script>

</body>
</html>