<!-- 
  Faltante:
  - abrir pdf icono tabla
  - Detalle tabla cartera
  - Peticiones filtro por rango de fecha
  - Botones exportar CRM y cartera
 -->
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
  <title>CRM</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/reports.css">

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/helpers.js"></script>

  <!-- Color Page -->
  <%- include('./partials/colors.ejs') %> 


  <style>
    /* Clases Menu */
    .activeNav .icon{
      color: white !important;
      background-image: linear-gradient(310deg ,#7928ca,#ff0080);
    }
    .activeNav i{
      color: white !important
    }
    .activeNav a{
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"]:after{
      color: white !important;
    }

    #sidebarPage::-webkit-scrollbar{
      display: none;
    }
    #buttonsHover>div{
      cursor: pointer;
    }

    .sk-chase {
      width: 15px;
      height: 15px;
      position: relative;
      animation: sk-chase 2.5s infinite linear both;
      margin-left: 20px;
    }
    .sk-chase-dot {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; 
      animation: sk-chase-dot 2.0s infinite ease-in-out both; 
    }
    .sk-chase-dot:before {
      content: '';
      display: block;
      width: 25%;
      height: 25%;
      background-color: black;
      border-radius: 100%;
      animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
    }
    .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
    .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
    .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
    .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
    .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
    .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
    .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
    .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
    .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
    .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
    .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
    .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

    @keyframes sk-chase {
      100% { transform: rotate(360deg); } 
    }
    @keyframes sk-chase-dot {
      80%, 100% { transform: rotate(360deg); } 
    }
    @keyframes sk-chase-dot-before {
      50% {
        transform: scale(0.4); 
      } 100%, 0% {
        transform: scale(1.0); 
      } 
    }
    #dropdownMenuButton::after{
      display: none;
    }
    #selectRangeDate{
      top: 35px !important;
    }
    tr th a{
      text-align: center !important;
    }
    .dataTable-sorter::before {
      display: none !important;
    }
    .dataTable-sorter::after {
      display: none !important;
    }
    .bntHeader{
      cursor: pointer;
    }
    .cardsCrm{
      cursor: pointer;
      width: 25%;
    }
    .navWrapper li{
      cursor: pointer;
    }
    .nav-item{
      transition: 0.3s;
      border-radius: 10px;
    }
    .nav-item:hover{
      background-color: white;
    }
    .navCustomCrm a:hover{
      color: inherit;
    }
    .rowDetail{
      cursor: pointer;
    }
    .rowDetail:hover{
      background-color: rgb(233, 236, 239);;
    }
  </style>
</head>
 
<body class="g-sidenav-show  bg-gray-100 g-sidenav-pinned">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg " style="min-height: 100vh;">

    <!-- Cabecera -->
    <%- include('./partials/header.ejs') %>

    <div class="p-4">

      <div id="headerDashboard" class="card mb-2 flex-row align-items-center" style="background-color: transparent; box-shadow: none;"> 
        <div class="w-50 ms-3 d-flex">
          
          <div>
            <div >
              <span id="currentViewDate" class="font-weight-bold" style="color: #344767; font-style: italic;">Junio 14 del 2022</span>
            </div>
          </div>

          <div>
            <div id="loadingViewDateContainer" style="display: none;">
              <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
              </div>
            </div>
            <div id="editViewDateContainer" style="position: relative" class="dropdown" data-bs-toggle="tooltip" data-bs-placement="top" title="Filtrar fecha">
              <i class="fas fa-filter ms-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" ></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: -20px;">
                <li onclick="dateFilter(0)"><a class="dropdown-item" href="#">Hoy</a></li>
                <li onclick="dateFilter(-1)"><a class="dropdown-item" href="#">Ayer</a></li>
                <li onclick="dateFilter(30)"><a class="dropdown-item" href="#">Este mes</a></li>
                <li onclick="dateFilter(-30)"><a class="dropdown-item" href="#">Mes anterior</a></li>
                <li onclick="dateFilter('x')"><a class="dropdown-item" href="#">Personalizado</a></li>
              </ul>
              <div id="selectRangeDate" class="px-3 py-1" style="background-color: white; position: absolute; right: 0; top:55px; border-radius: 10px; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 15%); display: none; z-index: 301111110;">
                <div class="d-flex gap-2">  
                  <div>
                    <label for="date1">Desde</label> 
                    <input class="form-control" id="date1" type="date">
                  </div>
                  <div>
                    <label for="date2">Hasta</label> 
                    <input class="form-control"  id="date2" type="date">
                  </div>
                </div>
                <div class="mt-3  gap-2 d-flex justify-content-end align-items-center">
                  <button onclick="dateRange(1)" class="btn bg-gradient-secondary">Cancelar</button>
                  <button onclick="dateRange(2)" class="btn bg-gradient-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>

          <div style="display: flex; align-items: center;">
            <i id="exportdashboardBtn" class="fas fa-download ms-3" data-bs-toggle="tooltip" title="Exportar CRM" style="cursor: pointer;"></i>
          </div>

          <div style="display: flex; align-items: center;">
            <i id="exportdashboarDetaildBtn" class="fas fa-download ms-3" data-bs-toggle="tooltip" title="Exportar Detalle CRM" style="cursor: pointer; display: none;"></i>     
          </div>
        </div>

        <div id="optionsCrm" style="margin-left: auto;">
          <div class="d-flex gap-2 justify-content-end">
            <div id="" onclick='showSidebar()' class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader" title="Configuración" data-bs-toggle="tooltip">
              <i class="fas fa-wrench" style="font-size: 15px" ></i>
            </div>
    
            <div id="" onclick='toggleChart()' class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader" title="Ocultar Gráfica" data-bs-toggle="tooltip">
              <i class="fas fa-chart-bar" style="font-size: 15px" ></i>
            </div>
    
            <div id="" onclick='filterEmptySellers()' class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader">
              <i class="fas fa-border-none filterSellers1" style="font-size: 15px" title="Ocultar Vendedores Sin Movimiento" data-bs-toggle="tooltip"></i>
              <i class="fas fa-border-all filterSellers2" style="display: none; font-size: 15px" title="Mostrar Vendedores Sin Movimiento" data-bs-toggle="tooltip"></i>
            </div>
          </div>
        </div>
        <div id="backBtnCrm" style="display: none; margin-left: auto;">
          <div class="d-flex gap-2 justify-content-end">
            <div id="" onclick='backBtnCrm()' class="icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg bntHeader" title="Página Principal" data-bs-toggle="tooltip">
              <i class="fas fa-angle-left" style="font-size: 15px" ></i>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column gap-2 justify-content-center">
        <div id="chartCrm">
          <div class="d-flex justify-content-center" style="position: relative; min-height: 30px;">
            <!-- Gráfica -->
            <div class="w-50" id="hideChart">
              <div class="chart card p-3" >
                <canvas id="chart-bar" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
  
          </div>
        </div>
  
        <!-- Paginador sección 2 -->
        <div id="widgetsCRM" style="display: none"> 
          <div class="position-relative end-0 mb-3">
            <ul class="p-1 bg-transparent mb-3 navWrapper navCustomCrm gap-2" role="tablist" >
              <li onclick="paginatorCrmDetail(1)" class="nav-item nav-item1 navCustom flex-fill"  >
                <a class="nav-link mb-0 px-0 py-1 active" >
                Eventos y Actividades
                </a>
              </li>
              <li onclick="paginatorCrmDetail(2)" class="nav-item nav-item2 flex-fill" id="carteraButton">
                <a class="nav-link mb-0 px-0 py-1 " >
                Cartera
                </a>
              </li>
            </ul>
          </div>
  
          <!-- Targetas sección 2 -->
          <div id="indicatorsCRM">
            <div class="d-flex gap-3 justify-content-center">

              <div id="cardTableCotizaciones" onclick="printTableCotizaciones()" class="card flex-fill cardsButtons cardsCrm">
                <div class=" h-100">
                  <div class="card-header p-3" style="background-color: transparent">
                    <div class="d-flex justify-content-between">
                      <h6 class="mb-0">Cotizaciones</h6>
                    </div>
                    <div class="text-center">
                      <h2 style="color: #03A9F4"> <span id="cotizacionesNumber">0</span></h2>
                      <h4>Realizadas</h4>
                    </div> 
                  </div>
                  <div class="card-body p-3 py-1 d-flex justify-content-center align-items-center flex-column"  >
                    <div style="width: 100%; margin-top: 20px" >   
                      <div class="border-top" style="padding: 5px 10px">   
                        <p class="mt-2">Prospectos:  <span>0</span> </p>
                      </div>
                      <div class="border-top" style="padding: 5px 10px">    
                        <p class="mt-2">Clientes:  <span>0</span> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div id="cardTableRecordatorio" onclick="printTableRecordatorio()" class="card flex-fill cardsButtons cardsCrm">
                <div class=" h-100">
                  <div class="card-header p-3" style="background-color: transparent">
                    <div class="d-flex justify-content-between">
                      <h6 class="mb-0">Recordatorios</h6>
                    </div>
                    <div class="text-center">
                      <h2 style="color: #03A9F4"> <span id="recordatorioNumber">0</span></h2>
                      <h4>Creados</h4> 
                    </div> 
                  </div>
                  <div class="card-body p-3 py-1 d-flex justify-content-center align-items-center flex-column" >
                    <div style="width: 100%; margin-top: 20px" >   
                      <div class="border-top" style="padding: 5px 10px">   
                        <p class="mt-2">Pendientes:  <span id="pendienteNumber">0</span> </p>
                      </div>
                      <div class="border-top" style="padding: 5px 10px">    
                        <p class="mt-2">Completados:  <span id="completadoNumber">0</span> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="card flex-fill cardsCrm cardsButtons"  onclick="printTablePQR()">
                <div class=" h-100">
                  <div class="card-header p-3" style="background-color: transparent">
                    <div class="d-flex justify-content-between">
                      <h6 class="mb-0">PQR</h6>
                    </div>
                    <div class="text-center">
                      <h2 style="color: #03A9F4"><span id="pqrNumber">0</span></h2>
                      <h4>Reportados</h4> 
                    </div> 
                  </div>
                  <div class="card-body p-3 py-1 d-flex justify-content-center align-items-center flex-column" >
                    <div style="width: 100%; margin-top: 20px" >   
                      <div class="border-top" style="padding: 5px 10px">   
                        <p class="mt-2">Pendientes: <span id="pqrPendienteNumber">0</span> </p>
                      </div>
                      <div class="border-top" style="padding: 5px 10px">    
                        <p class="mt-2">Cerrados:  <span id="pqrCerradoNumber">0</span> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="card flex-fill cardsCrm" >
                <div class=" h-100">
                  <div id="cardTableGestion" onclick="printTableGestion()" class="card-header p-3 cardsButtons" style="cursor: pointer">
                    <div class="d-flex justify-content-between">
                      <h6 class="mb-0">Gestión</h6>
                    </div>
                    <div class="text-center">
                      <h2 style="color: #03A9F4"> <span id="gestionNumber">0</span></h2>
                      <h4>Visitas</h4> 
                    </div> 
                  </div>
                  <div class="card-body p-3 py-1 d-flex justify-content-center align-items-center flex-column" style="cursor: pointer" >
                    <div style="width: 100%; margin-top: 20px" >   
                      <div id="cardTableCorreos" onclick="printTableCorreos()" class="border-top  cardsButtons" style="padding: 9px 10px">   
                        <p>Correos:  <span id="correoNumber">0</span> </p>
                      </div>
                      <div id="cardTableCalls" onclick="printTableCalls()" class="border-top  cardsButtons" style="padding: 5px 10px">    
                        <p >Llamadas:  <span id="llamadaNumber">0</span> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="mb-4">
          <div id="sellerTableContainer" class="crmTableContainer">
            <div class="card text-center p-2" id="tableContainerMargin">
              <div>
                <h6 class="mb-0 ms-2">Vendedores</h6>
                <table id="tSellers">
                  <thead style="table-layout: fixed;">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder iconCheck" ><i class="fas fa-check-double" style="font-size: 26px" ></i></th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nombre</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Prospectos</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cotizaciones</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Visitas</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Correos</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Llamadas</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Recordatorios</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Total Gestión</th>
                  </thead>
                  <tbody id="tBodySellers"></tbody>
                </table>
  
              </div>
            </div>

            <div class="d-flex justify-content-center w-100 my-2">
              <button onclick="loadCrmDetail()" class="btn btn-primary" type="button" >Ver CRM y Cartera</button>
            </div>

          </div>

          <div id="cotizaciónTableContainer" style="display: none" class="crmTableContainer">
            <div class="card text-center p-2" id="tableContainerMargin">
              <div>
                <h6 class="mb-0 ms-2">Cotizaciones</h6>
                <table id="tCotización" style="table-layout: fixed;">
                  <thead>
                    <th width="80" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">#</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cédula</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Persona</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Remitente</th>
                    <th width="50" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder"></th>
                  </thead>
                  <tbody id="tBodyCotización"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="recordatorioTableContainer" style="display: none" class="crmTableContainer">
            <div class="card text-center p-2" id="tableContainerMargin">
              <div>
                <h6 class="mb-0 ms-2">Recordatorios</h6>
                <table id="tRecordatorio">
                  <thead style="table-layout: fixed;">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nota</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cedula / Nit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor / Nit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Indetificación</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Persona</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Empresa</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder"></th>
                  </thead>
                  <tbody id="tBodyRecordatorio"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="gestionTableContainer" style="display: none" class="crmTableContainer">
            <div class="card text-center p-2" id="tableContainerMargin">
              <div>
                <h6 class="mb-0 ms-2">Gestión</h6>
                <table id="tGestion">
                  <thead style="table-layout: fixed;">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cedula / Nit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Persona / Empresa</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nota</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Descripción</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Hora Inicio</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Hora Fin</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Fecha Visita</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder"></th>
                  </thead>
                  <tbody id="tBodyGestion"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="pqrTableContainer" style="display: none" class="crmTableContainer">
            <div class="card text-center p-2" id="tableContainerMargin">
              <div>
                <h6 class="mb-0 ms-2">PQR</h6>
                <table id="tPQR" style="table-layout: fixed;">
                  <thead style="table-layout: fixed;">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cedula / Nit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nota</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Descripción</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Remitente</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Persona / Empresa</th>
                  </thead>
                  <tbody id="tBodyPQR"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="correosTableContainer" style="display: none" class="crmTableContainer">
            <div class="card text-center p-2" id="tableContainerMargin">
              <div>
                <h6 class="mb-0 ms-2">Correos</h6>
                <table id="tCorreos" style="table-layout: fixed;">
                  <thead style="table-layout: fixed;">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cedula / Nit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Asunto</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Descripción</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Remitente</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Identificación</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Persona / Empresa</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Fecha</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder"></th>
                  </thead>
                  <tbody id="tBodyCorreos"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="llamadasTableContainer" style="display: none" class="crmTableContainer">
            <div class="card text-center p-2" id="tableContainerMargin">
              <div>
                <h6 class="mb-0 ms-2">Llamadas</h6>
                <table id="tLlamadas" style="table-layout: fixed;">
                  <thead style="table-layout: fixed;">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cedula / Nit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Duración</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Persona</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Fecha</th>
                  </thead>
                  <tbody id="tBodyLlamadas"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="carteraTableContainer" style="display: none" class="crmTableContainer">

            <div class="d-flex gap-2 w-35 mb-1">
              <select name="" id="selectUsersCartera" class="form-control">
              </select>
              <div class="d-flex align-items-center gap-2">
                <i id="exportCartera" data-bs-toggle="tooltip" title="Exportar Cartera"class="fas fa-file-download" style="font-size: 20px; cursor: pointer;"></i>
                <i id="exportCarteraPdf" data-bs-toggle="tooltip" title="Exportar Cartera Como PDF" class="fas fa-file-pdf" style="font-size: 20px; cursor: pointer;"></i>
              </div>
            </div>

            <div class="card text-center p-2" id="tableContainerMargin">
              <div>
                <h6 class="mb-0 ms-2">Cartera</h6>
                <table id="tCartera" style="table-layout: fixed;">
                  <thead style="table-layout: fixed;">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cliente</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Saldo sin Vencer</th>
                    <th width="300" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Saldo Vencido</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Total</th>
                  </thead>
                  <tbody id="tBodyCartera"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="carteraDetalleTableContainer" style="display: none;" class="crmTableContainer">
            <div class="card text-center p-2" id="tableContainerMargin" style="position: relative">
              <div id="backBtnDetailCartera" style="position: absolute;">
                <i class="fas fa-arrow-left" data-bs-toggle="tooltip" data-bs-placement="top" title="Volver a las facturas" style="margin-top: 10px; margin-left: 10px; cursor: pointer"></i>
              </div>
              <div>
                <h6 class="mb-0 ms-2">Cartera, Detalle Factura</h6>
                <table id="tCarteraDetalle">
                  <thead style="table-layout: fixed;">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder"></th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo Doc</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nro Doc</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Fecha Emición</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Fecha Vencimiento</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Fecha de corete</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Saldo</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Valor</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Valor Aplicado</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Días Vencido</th>
                  </thead>
                  <tbody id="tBodyCarteraDetalle"></tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebarPage" class="sidebarPage rounded" sidebarState="closed" style="overflow-x: hidden;">
      <div class="d-flex justify-content-center my-3" style="position: relative; margin-bottom: 40px !important">
        <h5 id="sidebarFilterTitle" class="mt-2 mb-0" style="font-weight: 800;">Configuración</h5>
      </div>

      <div id="sidebarContentResume">

        <div class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapsePlazo" role="button" aria-expanded="false"
              aria-controls="collapsePlazo">
              <i class="fas fa-calendar"></i>
              Plazo
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapsePlazo" style="border: none;">
              <div idMaster="1"  nameMaster="Plazo" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
              </div>
            </div>
          </div>
        </div>
        <div class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapseForma" role="button" aria-expanded="false"
              aria-controls="collapseForma">
              <i class="fas fa-ticket-alt"></i>
              Forma
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapseForma" style="border: none;">
              <div idMaster="2" nameMaster="Forma" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
              </div>
            </div>
          </div>
        </div>

        <div class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapseVisita" role="button" aria-expanded="false"
              aria-controls="collapseVisita">
              <i class="fas fa-home"></i>
              Visita
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapseVisita" style="border: none;">
              <div idMaster="3" nameMaster="Visita" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
              </div>
            </div>
          </div>
        </div>

        <div  class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapseTarea" role="button" aria-expanded="false"
              aria-controls="collapseTarea">
              <i class="fas fa-thumbtack"></i>
              Tarea
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapseTarea" style="border: none;">
              <div class="">
                <div idMaster="4" nameMaster="Tarea" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapseCotizacion" role="button" aria-expanded="false"
              aria-controls="collapseCotizacion">
              <i class="fas fa-envelope-open-text"></i>
              Tipo de Cotización
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapseCotizacion" style="border: none;">
              <div class="">
                <div idMaster="5" nameMaster="Tipo de cotización" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapsePeticion" role="button" aria-expanded="false"
              aria-controls="collapsePeticion">
              <i class="fas fa-phone"></i>
              Petición
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapsePeticion" style="border: none;">
              <div class="">
                <div idMaster="6" nameMaster="Petición" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapseQueja" role="button" aria-expanded="false"
              aria-controls="collapseQueja">
              <i class="fas fa-phone"></i>
              Queja
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapseQueja" style="border: none;">
              <div class="">
                <div idMaster="7" nameMaster="Queja" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapseReclamo" role="button" aria-expanded="false"
              aria-controls="collapseReclamo">
              <i class="fas fa-phone"></i>
              Reclamo
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapseReclamo" style="border: none;">
              <div class="">
                <div idMaster="8" nameMaster="Reclamo" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapseRecordatorio" role="button" aria-expanded="false"
              aria-controls="collapseRecordatorio">
              <i class="fas fa-bell"></i>
              Recordatorio            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapseRecordatorio" style="border: none;">
              <div class="">
                <div idMaster="9" nameMaster="Recordatorio" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="list-group-item" style="border: none;">
          <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
            <a class="" data-bs-toggle="collapse" href="#collapseTiempo" role="button" aria-expanded="false"
              aria-controls="collapseTiempo">
              <i class="fas fa-truck"></i>
              Tiempo Entrega
            </a>
          </div>
          <div class="list-group">
            <div class="collapse list-group-item p-0 ps-2" id="collapseTiempo" style="border: none;">
              <div class="">
                <div idMaster="10" nameMaster="Tiempo Entrega" class="d-flex flex-column justify-content-between" style="margin-bottom: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal Info Row -->
    <div class="modal" id="modalInfo" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Información de <span id="modalDetalKind"></span></h5>
          </div>
          <div class="modal-body p-4" id="modalInfoBody">
          </div>
          <div class="text-end mx-3">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal crear/editar masters -->
    <div class="modal" id="modalMasters" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"> <span id="createMasterModalTitle1"></span> <span id="createMasterModalTitle2"></span></h5>
          </div>
          <div class="modal-body p-4" id="modalMastersBody">
            <label for="codigoMasters">Código *</label>
            <input class="form-control" type="text" name="" id="codigoMasters">
            <label for="descripcionMasters">Descripción *</label>
            <textarea class="form-control" style="resize: none; height: 100px" name="" id="descripcionMasters" cols="30" rows="10"></textarea>
          </div>
          <div class="text-end mx-4">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button onclick="savesMaster()" id="editMasterButton" type="button" class="btn bg-gradient-primary" >Guardar</button>
            <button onclick="createMaster()" id="createMasterButton" type="button" class="btn bg-gradient-primary" >Crear</button>
          </div>
        </div>
      </div>
    </div>

    <!-- preloader -->
    <%- include('./partials/preloader.ejs') %> 

  </main>

  <!-- Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/plugins/datatables.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script>

  <script>
    let startDateCrm = new Date().toISOString().split("T")[0];
    let endDateCrm = new Date().toISOString().split("T")[0];

    let completeDataCrm = null;
    let chartCrm = null;
    let dataChart = {
      countProspectos:0,
      countCotizaciones :0,
      countVisitas:0,
      countCorreos:0,
      countLlamadas: 0,
      countRecordatorios: 0
    };

    const loadCRM = function (data) {
      completeDataCrm = data;
      
      dataChart.countProspectos = 0;
      dataChart.countCotizaciones = 0;
      dataChart.countVisitas = 0;
      dataChart.countCorreos = 0;
      dataChart.countLlamadas = 0;
      dataChart.countRecordatorios = 0;

      for (let i = 0; i < data.sellers.length; i++) {
        dataChart.countProspectos += data.sellers[i].prospectos;
        dataChart.countCotizaciones += data.sellers[i].cotizaciones;
        dataChart.countVisitas += data.sellers[i].visitas;
        dataChart.countCorreos += data.sellers[i].correos;
        dataChart.countLlamadas += data.sellers[i].llamadas;
        dataChart.countRecordatorios += data.sellers[i].tareas;
      }

      loadGrafica();
      printTableSellers();
      $("#preloader").hide();
    }

    const loadGrafica = function () {
      let arrayChart = [dataChart.countProspectos, dataChart.countCotizaciones, dataChart.countVisitas, dataChart.countCorreos, dataChart.countLlamadas, dataChart.countRecordatorios];
      let arrayColors = [];

      for (let i = 0; i < arrayChart.length; i++) {
        arrayColors.push(generatePastelColor())
      }

      try {
        chartCrm = new Chart(document.getElementById("chart-bar").getContext("2d"), {
          type: "bar",
          data: {
            labels: ['Prospectos', 'Cotizaciones', 'Visitas', 'Correos', 'Llamadas', 'Recordatorios'],
            datasets: [{
              label: 'Prospectos y Eventos Realizados',
              backgroundColor: arrayColors,
              data: arrayChart,
            }],
          },
          options: {maintainAspectRatio: false}
        });        
      } catch (error) {
        chartCrm.data.datasets[0].data = arrayChart;
        chartCrm.data.datasets[0].backgroundColor = arrayColors;
        chartCrm.update();
      }
    };

    let generatePastelColor = () => {
      let R = Math.floor((Math.random() * 127) + 127);
      let G = Math.floor((Math.random() * 127) + 127);
      let B = Math.floor((Math.random() * 127) + 127);
      
      let rgb = (R << 16) + (G << 8) + B;
      return `#${rgb.toString(16)}`;      
    }

    let tblSellers;
    const printTableSellers = (dataFiltered) => {
      let data = null;
      if (dataFiltered) {
        data = dataFiltered;
      } else {
        data = completeDataCrm.sellers;
      }

      try {
        tblSellers.destroy();
      } catch (error) {}
      $("#tBodySellers").html("")

      for (let i = 0; i < data.length; i++) {
        let el = `
          <tr>
            <td class="text-start"><input type="checkbox" class="checkboxTable"></td>';
            <td class="text-start" value="${data[i].id}"> ${data[i].nit} </td>
            <td class="text-start text-wrap"> ${data[i].nombre} </td>
            <td class="text-center"> ${ data[i].prospectos } </td>
            <td class="text-center"> ${ data[i].cotizaciones }</td>
            <td class="text-center"> ${ data[i].visitas }</td>
            <td class="text-center"> ${ data[i].correos }</td>
            <td class="text-center"> ${ data[i].llamadas }</td>
            <td class="text-center"> ${ data[i].recordatorios }</td>
            <td class="text-center"> ${ data[i].gestion }</td>
          </tr>
        `;
        $("#tBodySellers").append(el)
      }

      tblSellers = new simpleDatatables.DataTable("#tSellers", {
        perPageSelect: false
      });
    }

    let tblCotizaciones;
    const printTableCotizaciones = async() => {      
      $('#preloader').show()

      let id_activity = 5; // Cotizaciones
      let response= await fetch(`/crm/detailActivity/${startDateCrm}/${endDateCrm}/${personsString}/${id_activity}`);
          response = await response.json();

      let data = response.result.monitoring;

      try {
        tblCotizaciones.destroy();
      } catch (error) {}
      $("#tBodyCotización").html("")

      for (let i = 0; i < data.length; i++) {
        let el = `
          <tr class='rowDetail' data-kind='cotizacion' data-row='${JSON.stringify(data[i])}'>
            <td class="text-center"> ${ data[i].num_quotation } </td>
            <td class="text-center"> ${ data[i].usuario }</td>
            <td class="text-center"> Cliente </td>
            <td class="text-center"> ${ data[i].nit_client }</td>
            <td class="text-center"> ${ data[i].bussiness_name }</td>
            <td class="text-center"> ${ data[i].sender }</td>
            <td class="text-center"> 
              <a href="https://api.pedbox.co:8590/getQuotationid?id_company=${session.user.id_company}&id_seller=${data[i].id_seller}&nit_customer=${data[i].nit_client}&id_mobile=${data[i].num_quotation}&export=true&type=pdf&url_logo=${session.user.url_logo}" target="_blank">
                <i class="fas fa-file-pdf"></i> 
              </a>
            </td>
          </tr>
        `;
        $("#tBodyCotización").append(el)
      }

      tblCotizaciones = new simpleDatatables.DataTable("#tCotización", {
        perPageSelect: false
      });

      $("#cardTableCotizaciones").css("backgroundColor", "#e9ecef;");
      $(".crmTableContainer").hide();
      $("#cotizaciónTableContainer").show();
      $('#preloader').hide()
    };

    let tblRecordatorio;
    const printTableRecordatorio = async() => {    
      $('#preloader').show()
      
      let id_activity = 4; // Cotizaciones
      let response= await fetch(`/crm/detailActivity/${startDateCrm}/${endDateCrm}/${personsString}/${id_activity}`);
          response = await response.json();

      let data = response.result.monitoring;

      try {
        tblRecordatorio.destroy();
      } catch (error) {}
      $("#tBodyRecordatorio").html("")

      for (let i = 0; i < data.length; i++) {
        let el = `
          <tr class='rowDetail' data-kind='recordatorio' data-row='${JSON.stringify(data[i])}'>
            <td class="text-center"> ${ data[i].task || "-"} </td>
            <td class="text-center"> Cliente </td>
            <td class="text-center"> ${ data[i].nit_client || "-"}</td>
            <td class="text-center"> ${ data[i].usuario || "-"}</td>
            <td class="text-center"> ${ data[i].nit_seller || "-" }</td>
            <td class="text-center"> ${ data[i].name_person || "-" }</td>
            <td class="text-center"> ${ data[i].bussiness_name || "-" }</td>
          </tr>
        `;
        $("#tBodyRecordatorio").append(el)
      }

      tblRecordatorio = new simpleDatatables.DataTable("#tRecordatorio", {
        perPageSelect: false
      });

      $("#cardTableRecordatorio").css("backgroundColor", "#e9ecef;");
      $(".crmTableContainer").hide();
      $("#recordatorioTableContainer").show();
      $('#preloader').hide()
    };

    let tblGestion;
    const printTableGestion = async() => {     
      $('#preloader').show()

      let id_activity = 3; // Gestion
      let response= await fetch(`/crm/detailActivity/${startDateCrm}/${endDateCrm}/${personsString}/${id_activity}`);
          response = await response.json();

      let data = response.result.monitoring;

      try {
        tblGestion.destroy();
      } catch (error) {}
      $("#tBodyGestion").html("")

      for (let i = 0; i < data.length; i++) {
        let el = `
          <tr class='rowDetail' data-kind='gestion' data-row='${JSON.stringify(data[i])}'>
            <td class="text-center"> ${ data[i].usuario || "-"} </td>
            <td class="text-center"> Cliente </td>
            <td class="text-center"> ${ data[i].nit_client || "-"}</td>
            <td class="text-center"> ${ data[i].bussiness_name || "-"}</td>
            <td class="text-center"> ${ data[i].task || "-" }</td>
            <td class="text-center"> ${ data[i].description || "-" }</td>
            <td class="text-center"> ${ data[i].hour_ini || "-" }</td>
            <td class="text-center"> ${ data[i].hour_fin || "-" }</td>
            <td class="text-center"> ${ data[i].date_visit || "-" }</td>
          </tr>
        `;
        $("#tBodyGestion").append(el)
      }

      tblGestion = new simpleDatatables.DataTable("#tGestion", {
        perPageSelect: false
      });

      $("#cardTableGestion").css("backgroundColor", "#e9ecef;");
      $(".crmTableContainer").hide();
      $("#gestionTableContainer").show();
      $('#preloader').hide()
    };

    let btlPQR;
    const printTablePQR = () => {
      try {
        btlPQR.destroy();
      } catch (error) {}
      $("#tBodyPQR").html("")

      btlPQR = new simpleDatatables.DataTable("#tPQR", {
        perPageSelect: false
      });

      $(".crmTableContainer").hide();
      $("#pqrTableContainer").show();
    }
    
    let tblCorreos;
    const printTableCorreos = async() => {   
      $('#preloader').show()

      let id_activity = 1; // Correos
      let response= await fetch(`/crm/detailActivity/${startDateCrm}/${endDateCrm}/${personsString}/${id_activity}`);
          response = await response.json();

      let data = response.result.monitoring;

      try {
        tblCorreos.destroy();
      } catch (error) {}
      $("#tBodyCorreos").html("")

      for (let i = 0; i < data.length; i++) {
        let el = `
          <tr class='rowDetail' data-kind='correo' data-row='${JSON.stringify(data[i])}'>
            <td class="text-center"> ${ data[i].usuario || "-"} </td>
            <td class="text-center"> Cliente </td>
            <td class="text-center"> ${ data[i].nit_client || "-"}</td>
            <td class="text-center"> ${ data[i].bussiness_name || "-"}</td>
            <td class="text-center"> ${ data[i].task || "-" }</td>
            <td class="text-center"> ${ data[i].description || "-" }</td>
            <td class="text-center"> ${ data[i].sender || "-" }</td>
            <td class="text-center"> ${ data[i].nit_seller || "-" }</td>
            <td class="text-center"> ${ data[i].bussiness_name || "-" }</td>
            <td class="text-center"> ${ data[i].date_creation || "-" }</td>
          </tr>
        `;
        $("#tBodyCorreos").append(el)
      }

      tblCorreos = new simpleDatatables.DataTable("#tCorreos", {
        perPageSelect: false
      });

      $("#cardTableCorreos").css("backgroundColor", "#e9ecef;");
      $(".crmTableContainer").hide();
      $("#correosTableContainer").show();
      $('#preloader').hide()
    };

    let tblLlamadas;
    const printTableCalls = async() => {     
      $('#preloader').show()

      let id_activity = 2; // Llamadas
      let response= await fetch(`/crm/detailActivity/${startDateCrm}/${endDateCrm}/${personsString}/${id_activity}`);
          response = await response.json();

      let data = response.result.monitoring;

      try {
        tblLlamadas.destroy();
      } catch (error) {}
      $("#tBodyLlamadas").html("")

      for (let i = 0; i < data.length; i++) {
        let el = `
          <tr class='rowDetail' data-kind='llamada' data-row='${JSON.stringify(data[i])}'>
            <td class="text-center"> ${ data[i].usuario || "-"} </td>
            <td class="text-center"> Cliente </td>
            <td class="text-center"> ${ data[i].nit_client || "-"}</td>
            <td class="text-center"> ${ data[i].duration || "-"}</td>
            <td class="text-center"> ${ data[i].bussiness_name || "-" }</td>
            <td class="text-center"> ${ data[i].date_creation || "-" }</td>
          </tr>
        `;
        $("#tBodyLlamadas").append(el)
      }

      tblLlamadas = new simpleDatatables.DataTable("#tLlamadas", {
        perPageSelect: false
      });

      $("#cardTableCalls").css("backgroundColor", "#e9ecef;");
      $(".crmTableContainer").hide();
      $("#llamadasTableContainer").show();
      $('#preloader').hide()
    };

    let prepareDataCartera = async() => {
      let users_array = [];

      for (let i = 0; i < dataCheckboxTable.length; i++) { // Get users
        let user_data = _.findWhere(completeDataCrm.sellers, {id: Number(dataCheckboxTable[i])});
        users_array.push(user_data)
      }

      $("#selectUsersCartera").html("")
      for (let i = 0; i < users_array.length; i++) { // Print options users
        let el = `
          <option value="${users_array[i].nit}">${users_array[i].nombre}</option>
        `;
        $("#selectUsersCartera").append(el)
      }

      printTableCartera(users_array[0].nit)
    }

    let tblCartera;
    let detailCarteraData = null;
    const printTableCartera = async(user) => {    
      let response = await fetch(`/crm/data/cartera`, {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify({
          seller: user,
          url_client: session.user.url_client
        })
      });
      response = await response.json();

      let data = response.result.purse.headerPurse;
          detailCarteraData = response.result.purse.detailPurse;

      try {
        tblCartera.destroy();
      } catch (error) {}
      $("#tBodyCartera").html("")

      for (let i = 0; i < data.length; i++) {
        let calcTotal = Number(data[i].Vr_Saldo_Sin_Vencer) +
                        Number(data[i].Vr_Vencido_1_a_15) +
                        Number(data[i].Vr_Vencido_16_a_30) +
                        Number(data[i].Vr_Vencido_31_a_45) +
                        Number(data[i].Vr_Vencido_46_a_60) +
                        Number(data[i].Vr_Vencido_61_a_90) +
                        Number(data[i].Vr_Vencido_91_a_120) +
                        Number(data[i].Vr_Vencido_Mas_120);

        let el = `
          <tr class="rowTableCartera" data-nit="${data[i].Codigo_Cliente}">
            <td class="text-center"> ${ data[i].Nombre_Vendedor || "-"} </td>
            <td class="text-center"> ${ data[i].Codigo_Cliente || "-"}</td>
            <td class="text-center"> ${ data[i].Nombre_del_Cliente || "-"}</td>
            <td class="text-center"> ${ nvFormatCash(data[i].Vr_Saldo_Sin_Vencer).split('.')[0]  || "-"}</td>
            <td class="text-center"> 
              <div> <span class='text-secondary font-weight-bolder'>1 a 15 días: </span> ${ nvFormatCash(data[i].Vr_Vencido_1_a_15).split('.')[0] || "-" }</div>
              <div> <span class='text-secondary font-weight-bolder'>16 a 30 días: </span> ${ nvFormatCash(data[i].Vr_Vencido_16_a_30).split('.')[0] || "-" }</div>
              <div> <span class='text-secondary font-weight-bolder'>31 a 45 días: </span> ${ nvFormatCash(data[i].Vr_Vencido_31_a_45).split('.')[0] || "-" }</div>
              <div> <span class='text-secondary font-weight-bolder'>46 a 60 días: </span> ${ nvFormatCash(data[i].Vr_Vencido_46_a_60).split('.')[0]  || "-" }</div>
              <div> <span class='text-secondary font-weight-bolder'>61 a 90 días:</span> ${ nvFormatCash(data[i].Vr_Vencido_61_a_90).split('.')[0] || "-" }</div>
              <div> <span class='text-secondary font-weight-bolder'>91 a 120 días: </span>${ nvFormatCash(data[i].Vr_Vencido_91_a_120).split('.')[0] || "-" }</div>
              <div> <span class='text-secondary font-weight-bolder'>Más de 120: </span>${ nvFormatCash(data[i].Vr_Vencido_Mas_120).split('.')[0] || "-" }</div>
            </td>
            <td class="text-center"> ${nvFormatCash(calcTotal).split('.')[0]} </td>
          </tr>
        `;
        $("#tBodyCartera").append(el)
      }

      tblCartera = new simpleDatatables.DataTable("#tCartera", {
        perPageSelect: false
      });

      $(".crmTableContainer").hide();
      $("#carteraTableContainer").show();
      $("#preloader").hide();
    };

    let tblDetailCartera;
    const printDetailCartera = async(data) => {    
      try {
        tblDetailCartera.destroy();
      } catch (error) {}
      $("#tBodyCarteraDetalle").html("")

      for (let i = 0; i < data.length; i++) {
        let el = `
          <tr>
            <td class="text-center"> <i class="fas fa-sticky-note" style='cursor: pointer'></i> </td>
            <td class="text-center"> ${ data[i].Tipo_Documento || "-"}</td>
            <td class="text-center"> ${ data[i].Numero_Documento || "-"}</td>
            <td class="text-center"> ${ data[i].Fecha_Emision || "-"}</td>
            <td class="text-center"> ${ data[i].Fecha_Vencimiento || "-" }</td>
            <td class="text-center"> ${ data[i].Fecha_de_Corte || "-" }</td>
            <td class="text-center"> ${ data[i].Valor_Saldo.split('.')[0] || "-" }</td>
            <td class="text-center"> ${ data[i].Valor_Documento.split('.')[0] || "-" }</td>
            <td class="text-center"> ${ data[i].Valor_Aplicado.split('.')[0] || "-" }</td>
            <td class="text-center"> ${ data[i].Nro_Dias_Vencidos || "-" }</td>
          </tr>
        `;
        $("#tBodyCarteraDetalle").append(el)
      }

      tblDetailCartera = new simpleDatatables.DataTable("#tCarteraDetalle", {
        perPageSelect: false
      });

      $(".crmTableContainer").hide();
      $("#carteraDetalleTableContainer").show();
    };

    let filterSellersEmptyState = 0;
    const filterEmptySellers = function () {
      if (filterSellersEmptyState == 0) {
        $(".filterSellers1").css("display", "none")
        $(".filterSellers2").css("display", "inline")

        let tableFilter = [], x;
        for (let i = 0; i < completeDataCrm.sellers.length; i++) {
          x = completeDataCrm.sellers[i];
          if (!(x.prospectos == 0 && x.cotizaciones == 0 && x.gestion == 0 )) {
            tableFilter.push(x)
          }
        }
        
        printTableSellers(tableFilter);
        filterSellersEmptyState = 1;
        return
      }

      if (filterSellersEmptyState = 1) {
        $(".filterSellers1").css("display", "inline")
        $(".filterSellers2").css("display", "none")

        printTableSellers();
        filterSellersEmptyState = 0;
        return
      }
    }

    let chartState = 0;
    const toggleChart = function () {
      if (chartState === 0) {
        $("#hideChart").fadeOut("fast");
        chartState = 1;
        return
      }
      if (chartState === 1) {
        $("#hideChart").fadeIn("slow");
        chartState = 0;
        return
      }
    };

    // Botones selector rango de fencha
    const dateRange = function (x) {
      if (x == 1) {
        $("#selectRangeDate").fadeOut("fast");
      }
      if (x == 2) {
        let dateStart = $("#date1").val();
        let dateRange = $("#date2").val();

        if (!dateStart || !dateRange) {
          $("#selectRangeDate").fadeOut("fast");
          return Swal.fire({
            title: 'Seleccione rango de fechas antes de enviar',
            confirmButtonText: 'Continuar',
          })
        }

        startDateCrm = dateStart;
        endDateCrm = dateRange;

        $("#currentViewDate").html(nvFormatDate(dateStart + "T00:00:00.00Z", "mmmm DD del YYYY")+ " - " + nvFormatDate(dateRange + "T00:00:00.00Z", "mmmm DD del YYYY"));

        $("#editViewDateContainer").hide();
        $("#loadingViewDateContainer").show();

        return getDataCrm();
      }
    }

    // Modal selector filtro de fecha
    const dateFilter = function (date) {
      if (date == "x") {
        $("#selectRangeDate").fadeIn("fast");
        return
      }

      if (date == 0) { // Hoy
        startDateCrm = new Date().toISOString().split("T")[0];
        endDateCrm = new Date().toISOString().split("T")[0];
        
        $("#currentViewDate").html(nvFormatDate(new Date(), "mmmm DD del YYYY"));

        $("#editViewDateContainer").hide();
        $("#loadingViewDateContainer").show();
        return getDataCrm();
      }

      if (date == -1) { // Ayer
        s = new Date();
        s.setDate(s.getDate() - 1);

        $("#currentViewDate").html(nvFormatDate(s, "mmmm DD del YYYY"));

        s = s.toISOString().split("T")[0];

        startDateCrm = s;
        endDateCrm = s;
        
        $("#editViewDateContainer").hide();
        $("#loadingViewDateContainer").show();
        return getDataCrm();
      }

      if (date == 30) { // Este mes
        let s = new Date();
        currentMonth = s.getMonth() + 1;
        firstDayMont = s.getFullYear() + "-" + (currentMonth < 10 ? "0"+currentMonth : currentMonth) + "-01";
        
        $("#currentViewDate").html(nvFormatDate(firstDayMont, "mmmm DD del YYYY")+ " - " + nvFormatDate(new Date(), "mmmm DD del YYYY"));

        startDateCrm = firstDayMont;
        endDateCrm = new Date().toISOString().split("T")[0];
    
        $("#editViewDateContainer").hide();
        $("#loadingViewDateContainer").show();
        return getDataCrm();
      }

      if (date == -30) { // Mes anterior
        let s = new Date();
        let currentMonth = s.getMonth() + 1;
        let currentYear = s.getFullYear();

        if (currentMonth == 1) {
          currentMonth = 12;
          currentYear = currentYear - 1;
        } else {
          currentMonth = currentMonth - 1;
        }

        currentMonth = currentMonth < 10 ? "0"+currentMonth : currentMonth;

        startDateCrm = currentYear + "-" + currentMonth + "-01";
        endDateCrm = currentYear + "-" + currentMonth + "-31";

        $("#currentViewDate").html(nvFormatDate(startDateCrm + "T00:00:00.00Z", "mmmm DD del YYYY")+ " - " + nvFormatDate(endDateCrm + "T00:00:00.00Z", "mmmm DD del YYYY"));
        
        $("#editViewDateContainer").hide();
        $("#loadingViewDateContainer").show();
        return getDataCrm();
      }
    };

    const loadCards = function(data){
      $("#cotizacionesNumber").html(data.cotizacion);
      $("#recordatorioNumber").html(data.tarea.tarea);
      $("#pendienteNumber").html(data.tarea.pendientes);
      $("#completadoNumber").html(data.tarea.completadas);

      $("#pqrNumber").html(data.pqr.pqr);
      $("#pqrPendienteNumber").html(data.pqr.pendiente);
      $("#pqrCerradoNumber").html(data.pqr.cerrados);

      $("#gestionNumber").html(data.visita);
      $("#correoNumber").html(data.llamada);
      $("#llamadaNumber").html(data.correo);

    }

    // CRM sección 2 (Cartera)
    const paginatorCrmDetail = function (state) {
      switch (state) {
        case 1:
          $(".nav-item2").removeClass("navCustom");
          $(".nav-item1").addClass("navCustom");

          $("#indicatorsCRM").fadeIn();
          printTableCotizaciones();
          break
        case 2:
          $(".nav-item1").removeClass("navCustom");
          $(".nav-item2").addClass("navCustom");

          $("#indicatorsCRM").fadeOut();
          $("#preloader").show();
          prepareDataCartera();
          break
      }
    }

    const loadMastersSidebar = function (master) {
      for (let i = 1; i <= 10; i++) {
        for (let e = 0; e < master.length; e++) {
          if (master[e].id_crm_master == i) {
            let element = `
              <div Mcode="${master[e].code}" Mdesc="${master[e].description}" Mid="${master[e].id}" Mcomp="${master[e].id_company}" Mcrm="${master[e].id_crm_master}"  class="d-flex justify-content-between w-100">
                <div class="masterEdit"><span class="stringP1"> ${master[e].code}</span> - <span class="stringP2">${master[e].description}</span> </div>
                <div class="deleteMaster ms-1"><i class="fas fa-trash mt-1"></i></div>
              </div>
            `;
            $(`[idMaster='${i}']`).append(element);
            // Referencias para el boton de crear
            var masterRef = master[e].id_company;
            var crmRef = master[e].id_crm_master;
          }
          // Añadir boton crear final
          if (e === master.length - 1) {
            button = `<button Mcomp="${masterRef}" Mcrm="${crmRef}" class="btn btn-outline-primary createMaster" style="width: 100px; margin: 0 auto">Crear</button>`;
            $(`[idMaster='${i}']`).append(button);
          }
        }
      }
    }

    const getCrmMasters = async function () {
      const rawResponse = await fetch("/crm/master");
      const response = await rawResponse.json();
      loadMastersSidebar(response.result.master[0].master)
    }

    const getDataCrm = async function () {
      const rawResponse = await fetch(`/crm/data/${startDateCrm}/${endDateCrm}`)
      const response = await rawResponse.json();

      loadCRM(response.result.user[0]);

      $("#editViewDateContainer").show();
      $("#loadingViewDateContainer").hide();
    }

    // Modal información rows
    const modalInfoRow = function (elements, kind) {
      $("#modalInfoBody").html("")
      $('#modalDetalKind').html(kind)

      let claves = Object.keys(elements);
      for(let i=0; i< claves.length; i++){

        let clave = claves[i];
        if (!elements[clave] == "") {

          infoCampo = `
            <div class="border-bottom my-3">
              <span class="fw-bold" style="color: #344767">${clave.replaceAll('_', ' ')}</span> <br>
              <span class="fs-5">${elements[clave]}</span>
            </div>
          `;
          $("#modalInfoBody").append(infoCampo)
        }
      }
      $("#modalInfo").modal("show")
    }

    let personsString = null;
    const loadCrmDetail = async function () {
      personsString = dataCheckboxTable.join(",")

      if (personsString == "") {
        return Swal.fire({
          title: 'Seleccione vendedores antes de buscar',
          confirmButtonText: 'Continuar',
        })
      }

      let response = await fetch(`/crm/detail/${startDateCrm}/${endDateCrm}/${personsString}`);
          response = await response.json();

      loadCards(response.result.monitoring);
      printTableCotizaciones();

      $(".cardsButtons").css("backgroundColor", "");
      $(".nav-item2").removeClass("navCustom");
      $(".nav-item1").addClass("navCustom");
      $("#indicatorsCRM").show();

      $("#optionsCrm").hide();
      $("#chartCrm").hide();
      
      $("#widgetsCRM").show();
      $("#backBtnCrm").show();

      $(".crmTableContainer").hide();
      $("#cotizaciónTableContainer").show();

      $('#exportdashboardBtn').hide();
      $('#exportdashboarDetaildBtn').show();
    }

    const backBtnCrm = function () {
      $("#widgetsCRM").hide();
      $("#backBtnCrm").hide();
      
      $("#chartCrm").show();
      $("#optionsCrm").show();

      $(".crmTableContainer").hide();
      $("#sellerTableContainer").show();

      $('#exportdashboardBtn').show();
      $('#exportdashboarDetaildBtn').hide();
    }

    // Checkbox tabla vendedores
    let dataCheckboxTable = [];
    $(document).on( "click", ".checkboxTable", function(){
      // JSON response
      if ($(this).is(":checked")) {
        let valueCheckbox = $(this).parent().parent().children()[1].getAttribute("value");
        dataCheckboxTable.push(valueCheckbox)
      } else {
        let valueCheckbox = $(this).parent().parent().children()[1].getAttribute("value");
        let index = dataCheckboxTable.indexOf(valueCheckbox)
        if (index !== -1) {
          dataCheckboxTable.splice(index, 1);
        }
      }

      // Button control
      if ($("#tableContainerCRM input:checkbox:checked").length > 0){
        $("#buttonTable").prop('disabled', false);
      } else {
        $("#buttonTable").prop('disabled', true);
      }
    });

    $(document).on("click", function (e) { // Control de ventanas flotantes selector de fechas
      if (!$("#selectFilterRecorridos").is(e.target) && $("#selectFilterRecorridos").has(e.target).length === 0) {
        if ($("#selectFilterRecorridos").is(":visible") && e.target.id != "filterIcon") {
          $("#selectFilterRecorridos").hide();
        }
      }

      if (!$("#selectRangeDate").is(e.target) && $("#selectRangeDate").has(e.target).length === 0) {
        if ($("#selectRangeDate").is(":visible") && e.target.className != "dropdown-item") {
          $("#selectRangeDate").hide();
        }
      }
    })

    var dataToggle = true;
    $(document).on( "click", ".iconCheck", function(){
      if (dataToggle) {
        $("#tSellers input:checkbox").prop('checked', true);
        dataToggle = false
        for (let i = 0; i < completeDataCrm.sellers.length; i++) {
          dataCheckboxTable.push(completeDataCrm.sellers[i].id)
        }
      } else {
        $("#tSellers input:checkbox").prop('checked', false);
        dataToggle = true
        dataCheckboxTable = [];
      }

      if ($("#tSellers input:checkbox:checked").length > 0){
        $("#buttonTable").prop('disabled', false);
      } else {
        $("#buttonTable").prop('disabled', true);
      }
      
      console.log({dataCheckboxTable})
    });

    // Tarjeta CRM
    $(document).on( "click", ".cardsButtons", function(){
      $(".cardsButtons").css("backgroundColor", "")
      $(this).css("backgroundColor", "#e9ecef;")
    });


    let dataMaster = {};
    $(document).on( "click", ".masterEdit", function(){
      $("#createMasterButton").hide();
      $("#editMasterButton").show();     

      dataMaster.code = $(this).parent().attr("Mcode")
      dataMaster.description = $(this).parent().attr("Mdesc");
      dataMaster.id = $(this).parent().attr("Mid");
      dataMaster.id_company = $(this).parent().attr("MComp");
      dataMaster.id_crm_master = $(this).parent().attr("Mcrm");
      dataMaster.id_table = 18;

      $("#codigoMasters").val($(this).parent().attr("Mcode"));
      $("#descripcionMasters").val($(this).parent().attr("Mdesc"));

      $("#createMasterModalTitle1").html("");
      $("#createMasterModalTitle2").html("");
      $("#createMasterModalTitle1").append(" Editar ")
      $("#createMasterModalTitle2").append($(this).parent().parent().attr("nameMaster"))
      $("#modalMasters").modal("show")
    });

    const savesMaster = async function () {
      if ($("#codigoMasters").val() == "" && $("#descripcionMasters").val() == "") {return;} 

      dataMaster.code = $("#codigoMasters").val();
      dataMaster.description = $("#descripcionMasters").val();

      const rawResponse = await fetch('/crm/master/update', {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(dataMaster)
      });
      const response = await rawResponse.json();

      if (response.result.success) {
        $(`[mid='${dataMaster.id}'] .stringP1`).html(dataMaster.code);
        $(`[mid='${dataMaster.id}'] .stringP2`).html(dataMaster.description);
  
        $("#modalMasters").modal("hide");
      } else {
        console.error("Error actualizando el permiso")
      }
    }

    const createMaster = async function () {
      if ($("#codigoMasters").val() == "" && $("#descripcionMasters").val() == "") {return;}

      dataMasterNew.code = $("#codigoMasters").val();
      dataMasterNew.description = $("#descripcionMasters").val();

      const rawResponse = await fetch('/crm/master/create', {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(dataMasterNew)
      });
      const response = await rawResponse.json();

      if (response.result.success) {
        let element = `
          <div Mcode="${dataMasterNew.code}" Mdesc="${dataMasterNew.description}" Mid="${dataMasterNew.id}" Mcomp="${dataMasterNew.id_company}" Mcrm="${dataMasterNew.id_crm_master}" class="d-flex justify-content-between w-100">
            <div class="masterEdit"><span class="stringP1"> ${dataMasterNew.code}</span> - <span class="stringP2">${dataMasterNew.description}</span> </div>
            <div class="deleteMaster"><i class="fas fa-trash mt-1"></i></div>
          </div>
        `;
        $(`[idMaster='${dataMasterNew.id_crm_master}']`).prepend(element);
        $("#modalMasters").modal("hide");
      } 
    }

        // Permissions
        const handlePermissions = function (data) {
      let permissions = data.user[0].permission;
      let permissionIndex; 

      permissionIndex = permissions.findIndex(x => x.code === "6000_CAN_ACCESS_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        //se necesita para ingresar al módulo del CRM
        // Nothing by moment
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6005_CAN_VIEW_ATIVITY_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        //se necesita para el botón de exportar CRM en la segunda vista, se necesita para ver la vista de ver CRM y cartera
        $("#buttonTable").hide();
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6010_CAN_VIEW_PORTFOLIO_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        //se necesita para cargar el botón de cartera 
        $("#carteraButton").hide();
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6015_CAN_VIEW_EMPLOYEES_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        //se necesita para cargar las gráficas, la tabla de vendedores y el botón de exportar uso CRM
        $("#hideChart").hide();
        $("#chartButton").hide();
        $("#tableContainerCRM").parent().hide()
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6020_CAN_CREATE_ACTIVITY_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        // Nothing by moment
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6025_CAN_EDIT_ACTIVITY_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "S") {
        //se necesita para abrir el modal de la información
        $(document).on( "click", ".infoRowTable", function(){
          listsElements = {};
          listsElements.Vendedor = $(this).parent().attr("Vendedor");
          listsElements.Número = $(this).parent().attr("Numero");
          listsElements.Nota = $(this).parent().attr("Nota");
          listsElements.Remitente = $(this).parent().attr("Remitente");
          listsElements.Empresa = $(this).parent().attr("Empresa");
          listsElements.NúmeroIdentificación = $(this).parent().attr("NumeroIden");
          listsElements.Descripción = $(this).parent().attr("Description");
          listsElements.HoraInicio = $(this).parent().attr("HoraI");
          listsElements.HoraFinal = $(this).parent().attr("HoraF");
          listsElements.FechaVisita = $(this).parent().attr("HoraV");
          listsElements.Fecha = $(this).parent().attr("Fecha");
          listsElements.Duración = $(this).parent().attr("Duracion");
          listsElements.Celular = $(this).parent().attr("Phone");

          modalInfoRow(listsElements);
        });
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6030_CAN_DELETE_ACTIVITY_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "S") {
        //se necesita para abrir el modal de la información
        $(document).on( "click", ".infoRowTable", function(){
          listsElements = {};
          listsElements.Vendedor = $(this).parent().attr("Vendedor");
          listsElements.Número = $(this).parent().attr("Numero");
          listsElements.Nota = $(this).parent().attr("Nota");
          listsElements.Remitente = $(this).parent().attr("Remitente");
          listsElements.Empresa = $(this).parent().attr("Empresa");
          listsElements.NúmeroIdentificación = $(this).parent().attr("NumeroIden");
          listsElements.Descripción = $(this).parent().attr("Description");
          listsElements.HoraInicio = $(this).parent().attr("HoraI");
          listsElements.HoraFinal = $(this).parent().attr("HoraF");
          listsElements.FechaVisita = $(this).parent().attr("HoraV");
          listsElements.Fecha = $(this).parent().attr("Fecha");
          listsElements.Duración = $(this).parent().attr("Duracion");
          listsElements.Celular = $(this).parent().attr("Phone");

          modalInfoRow(listsElements);
        });
        // Nothing by moment
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6035_CAN_VIEW_MASTER_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        //se necesita para poder ver el sidenav de los masters
        $("#showSidebarMaster").hide();
        
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6040_CAN_CREATE_MASTER_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        //se necesita para crear un master
        $(".createMaster").hide();
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6045_CAN_EDIT_MASTER_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        //se necesita para editar un master
        $("#editMasterButton").remove();

      };

      permissionIndex = permissions.findIndex(x => x.code ==="6050_CAN_DELETE_MASTER_CRM");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        //se necesita para poder eliminar un master
        $(".deleteMaster").hide()
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6060_HIDE_NIT_IN_PDF_PORTFOLIO");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        // Nothing by moment
      };

      permissionIndex = permissions.findIndex(x => x.code ==="6065_CAN_DOWNLOAD_PORTFOLIO_QUOTAS");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "N") {
        // Nothing by moment
      };
    }

    let dataMasterNew = {};
    $(document).on( "click", ".createMaster", function(){
      $("#descripcionMasters").val("");
      $("#codigoMasters").val("");

      $("#createMasterButton").show();
      $("#editMasterButton").hide();

      dataMasterNew.id_company = $(this).attr("Mcomp");
      dataMasterNew.id_crm_master = $(this).attr("Mcrm");
      dataMasterNew.id_table = 18;

      $("#createMasterModalTitle1").html("");
      $("#createMasterModalTitle2").html("");
      $("#createMasterModalTitle1").append(" Crear ")
      $("#createMasterModalTitle2").append($(this).parent().attr("nameMaster"));
      $("#modalMasters").modal("show");
    });

    let dataMasterDelete = {};
    $(document).on( "click", ".deleteMaster", async function(){
      Swal.fire({
        title: '¿Está seguro de eliminar esta propiedad?',
        showDenyButton: true,
        confirmButtonText: 'Eliminar',
      }).then( async (result) => {
        if (result.isConfirmed) {
          dataMasterDelete.id = Number($(this).parent().attr("Mid"));
          dataMasterDelete.id_table = 18;

          const rawResponse = await fetch('/crm/master/delete', {
            method: 'POST',
            headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
            body: JSON.stringify(dataMasterDelete)
          });
          const response = await rawResponse.json();

          if (response.result.success) {
            $(this).parent().remove();
          } else {
            console.error("Error eliminando master")
          }
        } 
      });
    });

    // Sidebar
    $(document).on('click', function(e) { // Cerrar sidebar 
      if ($("#sidebarPage").attr("sidebarState") == "open") {
        if (!(e.target.id == "sidebarPage" || $(e.target).parents("#sidebarPage").length)) { 
          $("#sidebarPage").attr("sidebarState", "closed");
          $("#sidebarPage" ).hide("slide", { direction: "right" }, 300);
        }
      }
    });

    $('#selectUsersCartera').on('change', function() {
      printTableCartera($(this).find(":selected").val())
    });

    $("#backBtnDetailCartera").on("click", function () {
      $(".crmTableContainer").hide();
      $("#carteraTableContainer").show();
    })

    $('#exportdashboardBtn').on('click', async function () {
      let response = await fetch(`https://api.pedbox.co:8590/getDateUser?export=true&id=${session.user.id}&type_user=${session.user.type_user}&id_company=${session.user.id_company}&date_begin=${startDateCrm}&date_end=${endDateCrm}&crm=1`);
      window.open(response.url, "_blank");
    })

    $('#exportdashboarDetaildBtn').on('click', async function () {
      let response = await fetch(`https://api.pedbox.co:8590/export_activity_monitoring?export=true&id_company=${session.user.id_company}&id_person=${dataCheckboxTable.join()}&date_begin=${startDateCrm}&date_end=${endDateCrm}`);
      window.open(response.url, "_blank");
    })

    $('#exportCartera').on('click', async function () {
      let response = await fetch(`https://api.pedbox.co:8590/get_purse_seller?url_client=${session.user.url_client}?wsdl&nit=${$('#selectUsersCartera').find(":selected").val()}&export=true&type=xls&hideNit=false&url_logo=${session.user.url_logo}`);
      window.open(response.url, "_blank");
    })

    $('#exportCarteraPdf').on('click', async function () {
      let response = await fetch(`https://api.pedbox.co:8590/get_purse_seller?url_client=${session.user.url_client}?wsdl&nit=${$('#selectUsersCartera').find(":selected").val()}&export=true&type=pdf&hideNit=false&url_logo=${session.user.url_logo}`);
      window.open(response.url, "_blank");
    })

    $(document).on('click', '.rowDetail', function (e) {
      if (e.target.className == 'fas fa-file-pdf') { return }

      let data = JSON.parse($(this).attr('data-row'));
      let kind = $(this).attr('data-kind');
      let dataModal = null;

      switch (kind) {
        case 'cotizacion':
          dataModal = {
            Vendedor: data.usuario,
            Número: data.num_quotation,
            Remitente: data.sender,
            Empresa: data.bussiness_name
          }
          modalInfoRow(dataModal, 'Cotización')
          break;

        case 'recordatorio':
          dataModal = {
            Vendedor: data.usuario,
            Nota: data.task,
            Empresa: data.bussiness_name,
          }
          modalInfoRow(dataModal, 'Recordatorio')
          break;

        case 'gestion':
          dataModal = {
            Vendedor: data.usuario,
            Empresa: data.bussiness_name,
            Nota: data.task,
            Descripción: data.description,
            Hora_de_Inicio: data.hour_ini,
            Hora_de_Fin: data.hour_fin,
            Fecha_de_Vicita: data.date_visit
          }
          modalInfoRow(dataModal, 'Gestión')
          break;

        case 'correo':
          dataModal = {
            Vendedor: data.usuario,
            Nota: data.task,
            Empresa: data.bussiness_name,
            Fecha: data.date_creation
          }
          modalInfoRow(dataModal, 'Correo')
          break;
          
        case 'llamada':
          dataModal = {
            Vendedor: data.usuario,
            Número: data.call_number || '-',
            Hora_de_Inicio: data.hour_ini,
            Hora_de_Fin: data.hour_fin,
            Duración: data.duration,
            Empresa: data.bussiness_name,
            Fecha_de_Creación: data.date_creation
          }
          modalInfoRow(dataModal, 'Llamada')
          break;
          
        default:
          break;
      }
    })

    $(document).on("click", ".rowTableCartera", function () {
      let nit = $(this).attr("data-nit");
      let dataDetail = _.where(detailCarteraData, {nit: nit});
      printDetailCartera(dataDetail)
    })

    $( document ).ready(function() {
      $('[data-toggle="tooltip"]').tooltip()
      $("#menuCRM").addClass("activeNav")
      $("#currentViewDate").html(nvFormatDate(new Date(), "mmmm DD del YYYY"));

      getDataCrm();
      getCrmMasters()
    });
  </script>

</body>
</html>