<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
  <title>Historial de transacciones</title>

  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <!-- JQUERY UI -->
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <!-- REPORTS CSS -->
  <link rel="stylesheet" href="/css/reports.css">

</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100">
    
    <!-- Cabecera -->
    <%- include('./partials/header.ejs') %>

    <!-- Cotent -->
    <div class="p-4">
      <div class="card p-3">
        <div class="w-100 text-center">
          <h6>Historial de Transacciones</h6>
        </div>
        <div>
          <table id="table" class="table align-items-center mb-1 table-hover" style="overflow:scroll; table-layout:fixed">
            <thead id="tableHead"></thead>
            <tbody id="tableBody"></tbody>
          </table>
          <div style="text-align: center; display: none;" id="emptyResponse">
            <span >Sin historial de transacciones</span>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/plugins/datatables.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/helpers.js"></script>
  <script src="/js/menu.js"></script>

  <script>
    let historial = `<%- JSON.stringify(historial) %>`;
        historial = JSON.parse(historial).result;

    const printTable = (data) =>{
      for (let i = 0; i < data.headers.length; i++) {
        let element = `
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder "> ${data.headers[i].name} </th>
        `;
        $("#tableHead").append(element);
      };

      for (let i = 0; i < data.rows.length; i++) {
        let element = `
          <tr>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">${data.rows[i].fecha_hora}</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">${data.rows[i].referencia}</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">${data.rows[i].autorizacion}</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">${(data.rows[i].estado ? data.rows[i].estado : "-")}</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">${nvFormatCash(data.rows[i].valor)}</th>
          </tr> 
        `;
        $("#tableBody").append(element)
      }
      const tableObj = new simpleDatatables.DataTable("#table", {});
    }

    $(document).ready(function () {
      try {
        printTable(historial.data)
      } catch (error) {
        $("#emptyResponse").show();
      }
      
      $("#menuHistorialTransacciones").addClass("activeNav")
    });
  </script>

</body>
</html>