<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

    <style>
      #msg-err{position: absolute; width: 100%;left: 0;z-index: 9;display: none;}
    </style>
  </head>

  <body class="">
    <main class="main-content main-content-bg mt-0">
      <section>
        <div class="page-header min-vh-75">
          <div class="container" style="min-height: 100vh;">
            <div class="row">
              <div class="col-xl-4 col-lg-5 col-md-4 d-flex flex-column mx-auto">
                <div class="card card-plain mt-8">
                  <div class="card-header pb-0 text-start">
                    <!-- <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3> -->
                    
                    <p class="mb-0" style="text-align: center; margin: 0 auto; max-width: 100px"><img style="max-width: 100%; max-height: 100%" src="<%- (dataCompany.success ? dataCompany.data.url_logo : '/img/logo_pedbox.png') %>" /></p>
                  </div>
                  <div class="card-body">
                    <form role="form" method="POST" class="text-start" onsubmit="login()" id="form-login">
                      <label>Usuario</label>
                      <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Usuario" aria-label="Usuario" id="user">
                      </div>
                      <label>Contraseña</label>
                      <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" id="pass">
                      </div>
                      <div class="text-center">
                        <div class="alert alert-danger text-white" role="alert" id="msg-err" >
                          <strong>¡Error!</strong><br>Usuario y/o contraseña no validos
                        </div>
                        <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0" onClick="login()">
                          <span id="btn-loading" style="display: none;"><span class="spinner-border spinner-border-sm" style="margin-right: 10px;" role="status" aria-hidden="true"></span> Validando... </span>
                          <span id="btn-f">INGRESAR</span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer text-center pt-0 px-lg-2 px-1">
                    <p class="mb-4 text-sm mx-auto">
                      ¿Olvidaste tu contraseña?
                      <a href="javascript:;" class="text-info text-gradient font-weight-bold">Reestablecer</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8" style="right: 4rem !important;">
                  <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url( <%- dataCompany.success  ? dataCompany.data.image : '/img/bg-login.jpg' %> )"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              Copyright © <script>
                document.write(new Date().getFullYear())
              </script> Soluciones Navacom.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/underscore-min.js"></script>

    <script>
      const server = 'https://api.pedbox.co:8590/';
      const urlSocket = localStorage.getItem('urlSocket');
      const nameSpace = localStorage.getItem('namespace');
      var loginActive = false;
      let ipAddress;

      if(!_.isNull(nameSpace) && !_.isNull(urlSocket)) {
        window.location.href = 'chat.html';
      }

      $('#user').on('keypress',function(e) {
        if(e.which == 13) {
          $('#pass').focus();
        }
      });

      $('#pass').on('keypress',function(e) {
        if(e.which == 13) {
          login();
        }
      });

      const login = () => {
        $.getJSON("https://api.ipify.org/?format=json", (resultIpify) => {ipAddress = resultIpify.ip});
        const user = $('#user').val();
        const pass = $('#pass').val();

        if (!loginActive) {
          if(user && pass) {
            loginActive = true;
            $('#btn-loading').fadeIn();
            $('#btn-f').hide();

            $.ajax({
              type: 'POST',
              data: {"user": user, "password": pass, "ipAddress": ipAddress, "remember": undefined},
              error: (request, status, error) => {
                showError();
                $('#btn-loading').hide();
                $('#btn-f').show();
                loginActive = false;
              }
            }).done((result) => {
              if (result.err) {
                showError();
                $('#btn-loading').hide();
                $('#btn-f').show();
                loginActive = false;
              } else if(result.result == 'ok') {
                switch (result.user.type_user) {
                  case "CL":
                    window.location.href = '/catalogo';
                    break;
                  case "U":
                    window.location.href = '/dashboard';
                    break;
                  default:
                    window.location.href = '/agenda';
                }
              }
            })
          } else {
            showError()
          }
        }
      }

      const showError = () => {
        $('#msg-err').fadeIn('fast', () => {
          setTimeout(() => {
            $('#msg-err').fadeOut('slow')
          }, 1500);
        })
      }

    </script>

    <!-- Link de prueba para login con imagenes customizadas -->
    <!-- http://localhost:4040/login/30e6ad093915c3683cc15ee658466ebacf1bec5c63b9cf -->
  </body>
</html>