<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
    <title>Pedbox CHAT - V.2</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <style>
      #msg-err{position: absolute; width: 100%;left: 0;z-index: 9;display: none;}
    </style>
  </head>
  <body class="">
    <main class="main-content main-content-bg mt-0">
      <section>
        <div class="page-header min-vh-75">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                <div class="card card-plain mt-8">
                  <div class="card-header pb-0 text-start">
                    <!-- <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3> -->
                    <p class="mb-0" style="text-align: center;"><img src="/img/logo_pedbox.png" /></p>
                  </div>
                  <div class="card-body">
                    <form role="form" method="POST" class="text-start" onsubmit="login()" id="form-login">
                      <label>Usuario</label>
                      <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Usuario" aria-label="Usuario" id="user">
                      </div>
                      <label>Contraseña</label>
                      <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" id="pass">
                      </div>
                      <div class="text-center">
                        <div class="alert alert-danger text-white" role="alert" id="msg-err" >
                          <strong>¡Error!</strong><br>Usuario y/o contraseña no validos
                        </div>
                        <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0" onClick="login()">
                          <span id="btn-loading" style="display: none;"><span class="spinner-border spinner-border-sm" style="margin-right: 10px;" role="status" aria-hidden="true"></span> Validando... </span>
                          <span id="btn-f">INGRESAR</span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer text-center pt-0 px-lg-2 px-1">
                    <p class="mb-4 text-sm mx-auto">
                      ¿Olvidaste tu contraseña?
                      <a href="javascript:;" class="text-info text-gradient font-weight-bold">Reestablecer</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                  <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/img/bg-login.jpg')"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              Copyright © <script>
                document.write(new Date().getFullYear())
              </script> Soluciones Navacom.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>