/*Estilos Tablas*/
#tableContainerCRM>div {
    padding: 15px;
}
.dataTable-container {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto !important;
}
.dataTable-top {
    padding: 0 10px !important;
}
tr td {
    padding: 10px !important;
}
tr th {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
tr th a {
    text-align: left !important;
}
.noSorter a {
    display: none;
}
.iconCheck a::before {
    display: none;
}
.iconCheck a::after {
    display: none;
}


/* Estilos choices JS */
.buttonsVendedores .dropdown-toggle::after {
    display: none !important;
}
.buttonsVendedores .dropdown-menu {
    top: 45% !important;
}
.choices {
    width: 50% !important;
}

/* Libreria choice JS, Estilos para quitar padding indeseado del combobox */
.choices__list--dropdown {
    z-index: 1000;
}
.choices__list--dropdown .choices__item--selectable:after {
    display: none !important;
}
.choices__list--dropdown .choices__item--selectable {
    padding-right: 0 !important;
}

/* Sidebar */
.sidebarCRM {
    display: none;
    background-color: white;
    width: 30vw;
    height: 100vh;
    z-index: 1020;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 40px;
    box-shadow: 0 8px 26px -4px rgb(20 20 20 / 15%), 0 8px 9px -5px rgb(20 20 20 / 6%);
}
.iconsSidebar>div {
    cursor: pointer;
}
.iconsSidebar i {
    margin-right: 10px;
    margin-bottom: 15px;
}

/* Buttons */
.buttonsAbsolute {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    font-size: 1.25rem;
    z-index: 990;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
    cursor: pointer;
}
.buttonsCircle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    font-size: 1.25rem;
    z-index: 990;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
    cursor: pointer;
}

.buttonsAbsolute i {
    margin: 0 auto;
}
.iconsHover {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    transition: 0.3s;
    margin: 0 auto;
    padding: 5px;
    font-size: 12px !important;
}
.iconsHover:hover {
    background-color: #e9ecef;
}

/* Cards */
.cardsButtons {
    transition: 0.8s;
}
.cardsButtons:hover {
    background-color: #e9ecef;
}

.navCustom{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    transition: all 0.5s ease;
}
.navWrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: transparent !important;
    background: #f8f9fa;
    position: relative;
    list-style: none;
}
.navWrapper li{
    text-align: center;
}

.navWrapper a{
    text-decoration: none;
    color: #252f40;
}